<div ng-controller="blockDetailsController">

    <div class="container ">
        <div class="panel panel-primary ">
            <div class="panel-heading "> Общие настройки</div>
            <div class="panel-body ">
                <div class="form-inline ">
                    <label>Имя</label>
                    <input type="text " size="32 " class="form-control " ng-model="currentBlock.Name ">
                </div>

                <div class="form-inline ">
                    <label>Цель вопроса</label>
                    <textarea class="form-control" placeholder="Цель вопроса" ng-model="currentBlock.Target" />
                </div>

                <div class="form-inline ">
                    <label>Дополнительная информация</label>
                    <textarea class="form-control" placeholder="Пояснения" ng-model="currentBlock.Description" />
                </div>
            </div>
            <div class="panel-footer " ng-show="isChanged ">
                <button type="button " class="btn btn-success btn-block " ng-click="save() ">Сохранить</button>
            </div>
        </div>

        <div class="panel panel-primary ">
            <div class="panel-heading "> Вопросы<button class="btn btn-primary pull-right " ng-click="addNewQuestionView(); "><i class="fa fa-plus " aria-hidden="true "></i></button>
                <div class="clearfix "></div>
            </div>
            <div class="panel-body ">
                <ul>
                    <li ng-repeat="question in currentBlock.Questions ">
                        <!--ng-bind-html-unsafe="template.Content.Sheets "-->
                        <a href=" "> {{question.Name }}</a>
                    </li>
                </ul>

            </div>

        </div>
    </div>

</div>
</div>