<div ng-controller="businessInfoController">

    <div class="panel panel-primary">
        <div class="panel-heading">Информация о бизнесе</div>


        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <label>Обязательно указать следующую информацию:</label>
                    <ol>
                        <li>Краткую историю (происхождение капитала, основные этапы развития) по каждой связанной компании;</li>
                        <li>Описать места бизнеса (желательно включение в проект фотографий объектов);</li>
                        <li>Раскрыть все виды деятельности по каждой связанной компании;</li>
                        <li>Описать схему бизнеса (производственный цикл, организация бизнеса);</li>
                        <li>Указать каналы сбыта товаров/работ/услуг;</li>
                        <li>Описать схему межфирменных расчетов между связанными компаниями (кто у кого арендует, у кого покупает или кому  продает и т.д.).</li>
                        <li>Справочно: если деятельность клиента – производство, то необходимо включить в резюме калькуляцию себестоимости производимой продукции (основные позиции)»</li>
                    </ol>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea type="text" class="form-control" placeholder="Организация о структуре бизнеса клиента, краткая информация о развитии бизнеса." ng-model="currentProject.BusinessInfo.Development"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Загрузка файлов</strong></div>
        <div class="panel-body">
            <!-- Standard Form -->
            <h4>Выберите файлы</h4>
            <form id="lForm" action="" method="post" enctype="multipart/form-data">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="file" name="filesToUpload" onchange="angular.element(this).scope().addThruChoice(this)" id="js-upload-files" accept="image/*" multiple>
                    </div>
                </div>
            </form>

            <!-- Drop Zone -->
            <h4>Или перетяните файлы</h4>
            <div class="upload-drop-zone" id="drop-zone">
                Перетаскивать сюда
            </div>
            <div class="progress" ng-show="showProgressBar && files && files>0">
                <div class="progress-bar" id="proBar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only">0% Готово</span>
                </div>
            </div>
            <div ng-repeat="file in files">{{file.name}} <span class="glyphicon glyphicon-remove " style="color:darkred" ng-click="removeFromFiles(files, file.name)"></span></div>

            <div class="row">
                <button class="btn btn-sm btn-primary" ng-click="uploadImages()">Загрузить файлы</button>
            </div>

        </div>
    </div>
    <div class="panel panel-primary" ng-show="currentProject.BusinessInfo.Images && currentProject.BusinessInfo.Images.length>0">
        <div class="panel-heading"><strong>Загруженные файлы</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 fadeInLeft" data-wow-delay=".7s" ng-repeat="file in currentProject.BusinessInfo.Images">
                    <input type="checkbox" checklist-model="serverImages" checklist-value="file.Id">
                    <a ng-href="{{file.ImagePath}}" data-lightbox="dishGallery" data-title="{{file.OriginalFileName}}"><img class="example-image" ng-src="{{file.ThumbnailPath}}" alt="" /></a>
                </div>
            </div>



            <div class="row"><button class="btn btn-sm btn-primary" ng-click="removeFromServerFiles(serverImages, currentProject.BusinessInfo.Images);">Удалить выбранные файлы</button></div>
        </div>
    </div>
</div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Структура поставщиков
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <button class="btn btn-primary btn-xs header-button" ng-click="showNewSupplierStructure();"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="suplCollection" st-safe-src="currentProject.BusinessInfo.SupplierStructures" class="table table-bordered table-condensed ng-table">
                <thead>
                    <tr>
                        <th><span uib-tooltip="Наименование поставщика">Наименование</span></th>
                        <th><span uib-tooltip="Страна резиденства">Страна</span></th>
                        <th><span uib-tooltip="Номер и дата договора (при наличии)">Договор</span></th>
                        <th><span uib-tooltip="Валюта и сумма">Сумма</span></th>
                        <th><span uib-tooltip="Освоенная сумма">Освоенная сумма</span></th>
                        <th><span uib-tooltip="Наименование продукции/работ/услуг">Цель</span></th>
                        <th><span uib-tooltip="Условия расчета">Условия расчета</span></th>
                        <th><span uib-tooltip="Условия поставок">Условия поставок</span></th>
                        <th><span uib-tooltip="Срок сотрудничества (в годах)">Срок, г.</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in suplCollection" ng-right-click="clickBusinessPlace(row.Id)" menu-items="menuItems">
                        <td ng-model="row.Name" content-editable></td>
                        <td ng-model="row.Country" content-editable></td>
                        <td ng-model="row.Document" content-editable></td>
                        <td ng-model="row.Sum" editable-filter="'currency'" content-editable></td>
                        <td ng-model="row.UsedSum" editable-filter="'currency'" content-editable></td>
                        <td ng-model="row.UseName" content-editable></td>
                        <td ng-model="row.PaymentCondition" content-editable></td>
                        <td ng-model="row.DeliveryCondition" content-editable></td>
                        <td ng-model="row.Terms" content-editable></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="form-group">
                <label>Комментарии</label>
                <textarea type="text" class="form-control" placeholder="Комментарии" ng-model="currentProject.BusinessInfo.SupplierStructuresComment"></textarea>
            </div>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            Структура потребителей
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <button class="btn btn-primary btn-xs header-button" ng-click="showNewConsumerStructure();"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="consCollection" st-safe-src="currentProject.BusinessInfo.ConsumerStructures" class="table table-bordered table-condensed ng-table">
                <thead>
                    <tr>
                        <th><span uib-tooltip="Наименование поставщика">Наименование</span></th>
                        <th><span uib-tooltip="Страна резиденства">Страна</span></th>
                        <th><span uib-tooltip="Номер и дата договора (при наличии)">Договор</span></th>
                        <th><span uib-tooltip="Валюта и сумма">Сумма</span></th>
                        <th><span uib-tooltip="Освоенная сумма">Освоенная сумма</span></th>
                        <th><span uib-tooltip="Наименование продукции/работ/услуг">Цель</span></th>
                        <th><span uib-tooltip="Условия расчета">Условия расчета</span></th>
                        <th><span uib-tooltip="Условия поставок">Условия поставок</span></th>
                        <th><span uib-tooltip="Срок сотрудничества (в годах)">Срок, г.</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in consCollection" ng-right-click="clickConsumerStructure(row.Id)" menu-items="menuItems">
                        <td ng-model="row.Name" content-editable></td>
                        <td ng-model="row.Country" content-editable></td>
                        <td ng-model="row.Document" content-editable></td>
                        <td ng-model="row.Sum" editable-filter="'currency'" content-editable></td>
                        <td ng-model="row.UsedSum" editable-filter="'currency'" content-editable></td>
                        <td ng-model="row.UseName" content-editable></td>
                        <td ng-model="row.PaymentCondition" content-editable></td>
                        <td ng-model="row.DeliveryCondition" content-editable></td>
                        <td ng-model="row.Terms" content-editable></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="form-group">
                <label>Комментарии</label>
                <textarea type="text" class="form-control" placeholder="Комментарии" ng-model="currentProject.BusinessInfo.ConsumerStructuresComment"></textarea>
            </div>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            Периодичность закупа
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <button class="btn btn-primary btn-xs header-button" ng-click="showNewPeriodicityProcurement();"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="procurCollection" st-safe-src="currentProject.BusinessInfo.PeriodicityProcurements" class="table table-bordered table-condensed ng-table">
                <thead>
                    <tr>
                        <th><span uib-tooltip="Наименование">Наименование</span></th>
                        <th><span uib-tooltip="Периодичность">Периодичность</span></th>
                        <th><span uib-tooltip="Условия закупа">Условия</span></th>
                        <th><span uib-tooltip="Место закупа (торговая точка, рынок, район, город, область, страна)">Место</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in procurCollection" ng-right-click="clickPeriodicityProcurements(row.Id)" menu-items="menuItems">
                        <td ng-model="row.Name" content-editable></td>
                        <td ng-model="row.Periodicity" content-editable></td>
                        <td ng-model="row.Condition" content-editable></td>
                        <td ng-model="row.Place" content-editable></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-center">
                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Социальное положение клиента/ учредителя (семья, пожилые родители, количество лиц на иждивении, возраст, образование клиента и т.п.) в случае, когда право собственности и управление не разделены
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <button class="btn btn-primary btn-xs header-button" ng-click="showNewClientFounderInfo();"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="cliFounderCollection" st-safe-src="currentProject.BusinessInfo.ClientFounderInfos" class="table table-bordered table-condensed ng-table">
                <thead>
                    <tr>
                        <th><span uib-tooltip="Фамилия, имя, отчество полностью">Ф.И.О</span></th>
                        <th><span uib-tooltip="Дата рождения">Дата рож-я</span></th>
                        <th><span uib-tooltip="Место рождения">Место рож-я</span></th>
                        <th><span uib-tooltip="№ удостоверения личности">№ док.</span></th>
                        <th><span uib-tooltip="Кем выдан/Дата выдачи/Срок действия">Выдан</span></th>
                        <th><span uib-tooltip="Место прописки">Прописка</span></th>
                        <th><span uib-tooltip="Место проживания">Проживание</span></th>
                        <th><span uib-tooltip="Контактный телефон">Тел</span></th>
                        <th><span uib-tooltip="Семейное положение, отметить, если женат/замужем">Жен/Зам</span></th>
                        <th><span uib-tooltip="Ф.И.О супруга (-и)">Супруг(-а)</span></th>
                        <th><span uib-tooltip="Ф.И.О. детей и их возраст">Дети</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in cliFounderCollection" ng-right-click="clickClientFounderInfo(row.Id)" menu-items="menuItems">
                        <td ng-model="row.Name" content-editable></td>
                        <td><input type="date" ng-model="row.DateOfBirth"></td>
                        <td ng-model="row.PlaceOfBirth" content-editable></td>
                        <td ng-model="row.Document" content-editable></td>
                        <td ng-model="row.DocumentDetails" content-editable></td>
                        <td ng-model="row.PlaceOfRegistration" content-editable></td>
                        <td ng-model="row.PlaceOfResidence" content-editable></td>
                        <td ng-model="row.PhoneNumber" content-editable></td>
                        <td><input type="checkbox" ng-model="row.IsMarried" /></td>
                        <td ng-model="row.Spouse" content-editable></td>
                        <td ng-model="row.Children" content-editable></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="11" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Кратко опишите запрашиваемую цель финансирования.  Распишите дальнейший план развития бизнеса клиента. Как повлияет получение займа на общее состояние текущего бизнеса.</div>


                <div class="panel-body">
                    <div class="form-group">
                        <label>Кратко опишите запрашиваемую цель финансирования.  Распишите дальнейший план развития бизнеса клиента. Как повлияет получение займа на общее состояние текущего бизнеса.</label>
                        <textarea type="text" class="form-control" placeholder="Кратко опишите запрашиваемую цель финансирования.  Распишите дальнейший план развития бизнеса клиента. Как повлияет получение займа на общее состояние текущего бизнеса." ng-model="currentProject.BusinessInfo.Plans"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Описание конкуренции и собственного положения на рынке</div>


                <div class="panel-body">
                    <div class="form-group">
                        <label>Описание конкуренции и собственного положения на рынке</label>
                        <textarea type="text" class="form-control" placeholder="Описание конкуренции и собственного положения на рынке" ng-model="currentProject.BusinessInfo.MarketCompetition"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">При повторном займе: какие изменения произошли в бизнесе с момента последнего анализа</div>


                <div class="panel-body">
                    <div class="form-group">
                        <label>При повторном займе: какие изменения произошли в бизнесе с момента последнего анализа</label>
                        <textarea type="text" class="form-control" placeholder="При повторном займе: какие изменения произошли в бизнесе с момента последнего анализа" ng-model="currentProject.BusinessInfo.Changes"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Укажите какие были произведены инвестиции за последний период, включая крупные приобретения вне бизнеса, для личных целей</div>


                <div class="panel-body">
                    <div class="form-group">
                        <label>Укажите какие были произведены инвестиции за последний период, включая крупные приобретения вне бизнеса, для личных целей</label>
                        <textarea type="text" class="form-control" placeholder="Укажите какие были произведены инвестиции за последний период, включая крупные приобретения вне бизнеса, для личных целей" ng-model="currentProject.BusinessInfo.IntendedUse"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Наличие действующих займов супруга(и), детей, родителей, либо других лиц, которые по мнению кредитного менеджера, имеют влияние на рассматриваемый бизнес</div>


                <div class="panel-body">
                    <div class="form-group">
                        <label>Наличие действующих займов супруга(и), детей, родителей, либо других лиц</label>
                        <textarea type="text" class="form-control" placeholder="Наличие действующих займов супруга(и), детей, родителей, либо других лиц" ng-model="currentProject.BusinessInfo.OtherPeopleLoans"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Прочая информация на усмотрение эксперта</div>


                <div class="panel-body">
                    <div class="form-group">
                        <label>Прочая информация на усмотрение эксперта</label>
                        <textarea type="text" class="form-control" placeholder="Прочая информация на усмотрение эксперта" ng-model="currentProject.BusinessInfo.Other"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>