<div ng-controller="businessInfoController">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Организация о структуре бизнеса клиента, краткая информация о развитии бизнеса</div>


                    <div class="panel-body">
                        <div class="form-group">
                            <label>Организация о структуре бизнеса клиента, краткая информация о развитии бизнеса</label>
                            <textarea type="text" class="form-control" placeholder="Организация о структуре бизнеса клиента, краткая информация о развитии бизнеса." ng-model="currentProject.BusinessInfo.Development"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Описание всех видов деятельности</div>


                    <div class="panel-body">
                        <div class="form-group">
                            <label>Описание всех видов деятельности</label>
                            <textarea type="text" class="form-control" placeholder="Описание всех видов деятельности" ng-model="currentProject.BusinessInfo.Activities"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Структура поставщиков <button class="btn btn-primary pull-right" ng-click="showNewSupplierStructure();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <div class="clearfix "></div>
                </div>

                <div class="panel-body">
                    <table ng-table="supplierStructures" class="table">
                        <tr ng-repeat="item in currentProject.BusinessInfo.SupplierStructures" ng-right-click="clickSupplierStructure(item.Id)" menu-items="menuItems">
                            <td title="'Наименование'" sortable="'Name'" class="col-md-6">
                                {{item.Name}}
                            </td>

                            <td title="'Страна'" sortable="'Country'" class="col-md-2">
                                {{item.Country}}
                            </td>


                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Структура потребителей <button class="btn btn-primary pull-right" ng-click="showNewConsumerStructure();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <div class="clearfix "></div>
                </div>

                <div class="panel-body">
                    <table ng-table="consumerStructures" class="table">
                        <tr ng-repeat="item in currentProject.BusinessInfo.ConsumerStructures" ng-right-click="clickConsumerStructure(item.Id)" menu-items="menuItems">
                            <td title="'Наименование'" sortable="'Name'" class="col-md-6">
                                {{item.Name}}
                            </td>

                            <td title="'Страна'" sortable="'Country'" class="col-md-2">
                                {{item.Country}}
                            </td>


                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Периодичность закупа <button class="btn btn-primary pull-right" ng-click="showNewPeriodicityProcurement();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <div class="clearfix "></div>
                </div>

                <div class="panel-body">
                    <table ng-table="periodicityProcurements" class="table">
                        <tr ng-repeat="item in currentProject.BusinessInfo.PeriodicityProcurements" ng-right-click="clickPeriodicityProcurements(item.Id)" menu-items="menuItems">
                            <td title="'Наименование'" sortable="'Name'" class="col-md-6">
                                {{item.Name}}
                            </td>

                            <td title="'Периодичность'" sortable="'Periodicity'" class="col-md-2">
                                {{item.Periodicity}}
                            </td>

                            <td title="'Условие'" sortable="'Condition'" class="col-md-2">
                                {{item.Condition}}
                            </td>

                            <td title="'Место'" sortable="'Place'" class="col-md-2">
                                {{item.Place}}
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Если деятельность клиента – производство, то необходимо включить в резюме калькуляцию себестоимости производимой продукции (основные позиции)
                </div>

                <div class="panel-body">

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Расшифровка целевого использования кредитных средств. Дальнейший план развития бизнеса клиента. Как повлияет получение займа на общее состояние текущего бизнеса</div>


                    <div class="panel-body">
                        <div class="form-group">
                            <label>Расшифровка целевого использования кредитных средств. Дальнейший план развития бизнеса клиента. Как повлияет получение займа на общее состояние текущего бизнеса</label>
                            <textarea type="text" class="form-control" placeholder="Расшифровка целевого использования кредитных средств. Дальнейший план развития бизнеса клиента. Как повлияет получение займа на общее состояние текущего бизнеса" ng-model="currentProject.BusinessInfo.Plans"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Описание конкуренции и собственного положения на рынке</div>


                    <div class="panel-body">
                        <div class="form-group">
                            <label>Описание конкуренции и собственного положения на рынке</label>
                            <textarea type="text" class="form-control" placeholder="Описание конкуренции и собственного положения на рынке" ng-model="currentProject.BusinessInfo.MarketCompetition"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Социальное положение клиента/ учредителя (семья, пожилые родители, количество лиц на иждивении, возраст, образование клиента и т.п.) в случае, когда право собственности и управление не разделены <button class="btn btn-primary pull-right"
                        ng-click="showNewClientFounderInfo();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <div class="clearfix "></div>
                </div>

                <div class="panel-body">
                    <div class="b-div">
                        <table ng-table="clientFounderInfos" class="table">
                            <tr ng-repeat="item in currentProject.BusinessInfo.ClientFounderInfos" ng-right-click="clickClientFounderInfo(item.Id)" menu-items="menuItems">
                                <td title="'ФИО'" sortable="'Name'">
                                    {{item.Name}}
                                </td>
                                <td title="'Дата рож-я'" sortable="'DateOfBirth'">
                                    <p ng-bind="item.DateOfBirth | date:'dd/MM/yyyy'"></p>
                                </td>
                                <td title="'Док-т'" sortable="'Document'">
                                    {{item.Document}}
                                </td>
                                <td title="'Прописка'" sortable="'PlaceOfRegistration'">
                                    {{item.PlaceOfRegistration}}
                                </td>
                                <td title="'Проживание'" sortable="'PlaceOfResidence'">
                                    {{item.PlaceOfResidence}}
                                </td>
                                <td title="'Тел'" sortable="'PhoneNumber'">
                                    {{item.PhoneNumber}}
                                </td>
                                <td title="'Жен/Зам'" sortable="'IsMarried'">
                                    <input type="checkbox" ng-model="item.IsMarried">
                                </td>

                                <td title="'Дети(возраст)'" sortable="'ChildrenCount'">
                                    {{item.ChildrenCount}} ({{item.ChildrenAge}})
                                </td>
                                <td title="'Супруги'" sortable="'partnerData'">
                                    {{item.PartnerData}}
                                </td>
                                <td title="'Опыт'" sortable="'expirience'">
                                    {{item.Expirience}}
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">При повторном займе: какие изменения произошли в бизнесе</div>


                    <div class="panel-body">
                        <div class="form-group">
                            <label>При повторном займе: какие изменения произошли в бизнесе</label>
                            <textarea type="text" class="form-control" placeholder="При повторном займе: какие изменения произошли в бизнесе" ng-model="currentProject.BusinessInfo.Changes"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Прочая информация на усмотрение эксперта</div>


                    <div class="panel-body">
                        <div class="form-group">
                            <label>Прочая информация на усмотрение эксперта</label>
                            <textarea type="text" class="form-control" placeholder="Прочая информация на усмотрение эксперта" ng-model="currentProject.BusinessInfo.Other"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>