<div ng-controller="clientDataController">

    <div>

        <!--Наименование компании-->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Наименование компании и юридическая форма организации</div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label>Наименование компании</label>
                            <input type="text" class="form-control" placeholder="Наименование компании" ng-model="currentProject.ClientData.OrganizationName">
                        </div>

                        <div class="form-group">
                            <label for="exampleSelect2">Форма СЧП</label>
                            <select class="form-control" id="exampleSelect2" ng-model="currentProject.ClientData.OrganizationType">
                                <option value="1">ИП</option>
                                <option value="2">ТОО</option>
                                <option value="3">КХ</option>
                            </select>
                            <small id="emailHelp" class="form-text text-muted">Относится ли к целевой группе по юридическому статусу</small>
                        </div>
                        <div class="form-group">
                            <label>БИН/ИИН</label>
                            <input type="text" class="form-control" placeholder="БИН/ИИН" ng-model="currentProject.ClientData.BinIin">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Кредит</div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label>Наименование банка кредитора</label>
                            <input type="text" class="form-control" placeholder="Наименование банка кредитора" ng-model="currentProject.ClientData.BankCreditor">
                        </div>

                        <div class="form-group">
                            <label>Запрашваемая программа кредитования</label>
                            <select class="form-control" ng-options="item as item.Name for item in creditProgramms track by item.Id" ng-model="currentProject.ClientData.CreditProgramm"></select>
                        </div>

                        <div class="form-group">
                            <label for="exampleSelect1">Вид кредита</label>
                            <select class="form-control" ng-options="item as item.Name for item in creditTypes track by item.Id" ng-model="currentProject.ClientData.CreditType"></select>
                        </div>
                        <div class="form-group">
                            <label>Запрашиваемая сумма финансирования</label>
                            <input type="text" class="form-control" placeholder="Сумма в тенге" ng-model="currentProject.ClientData.CreditSum">
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-primary">
            <div class="panel-heading">Информация о заемщике</div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Дата государственной регистрации заемщика</label>
                            <input type="date" class="form-control" ng-model="currentProject.ClientData.RegistrationDate">
                        </div>

                        <div class="form-group">
                            <label for="exampleSelect1">Виды деятельности клиента (отрасль кредитования (вид и код ОКЭД))</label>
                            <select multiple class="form-control" id="exampleSelect1" ng-model="currentProject.ClientData.EconomicSectors">
                                <option value="1">Услуги</option>
                                <option value="2">Торговля</option>
                                <option value="3">С/Х</option>
                                <option value="4">Производство</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label>Опыт работы (фактический) (в мес.)</label>
                            <input type="number" class="form-control" ng-model="currentProject.ClientData.ActualExperience">
                        </div>

                        <div class="form-group">
                            <label>Число работников (фактическое)</label>
                            <input type="number" class="form-control" ng-model="currentProject.ClientData.ActuallyEmployees">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--END BLOCK-->
        <!--Вид Деятельности-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Адрес предприятия (место бизнеса)
                <div class="clearfix "></div>
            </div>

            <div class="panel-body panel-table">
                <button class="btn btn-primary btn-xs header-button" ng-click="showNewBusinessPlace();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <table st-table="bpsCollection" st-safe-src="currentProject.ClientData.BusinessPlaces" class="table table-bordered table-condensed ng-table">
                    <thead>
                        <tr>
                            <th><span uib-tooltip="Юридический адрес">Юр. адрес</span></th>
                            <th><span uib-tooltip="Фактический адрес">Факт. адр.</span></th>
                            <th><span uib-tooltip="Помещение находится в аренде">Аренда</span></th>
                            <th><span uib-tooltip="Имеются ли точки продаж/подразделения, расположенные не по данному адресу">Филиал</span></th>
                            <th><span uib-tooltip="Количество дополнительных точек/продразделений">Кол. филиалов</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in bpsCollection" ng-right-click="clickBusinessPlace(row.Id)" menu-items="menuItems">
                            <td ng-model="row.Address" content-editable></td>
                            <td ng-model="row.ActualAddress" content-editable></td>
                            <td><input type="checkbox" ng-model="row.IsRent" /></td>
                            <td><input type="checkbox" ng-model="row.IsFilial" /></td>
                            <td ng-model="row.FilialCount" content-editable></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="form-group">
                    <label>Комментарии</label>
                    <textarea type="text" class="form-control" placeholder="Комментарии" ng-model="currentProject.ClientData.BusinessPlacesComment"></textarea>
                </div>
            </div>
        </div>
        <!--END BLOCK-->
        <!--Директор-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Данные индивидуального предпринимателя (крестьянского хозяйства)/первого руководителя юридического лица):
                <div class="clearfix "></div>
            </div>

            <div class="panel-body panel-table">
                <button class="btn btn-primary btn-xs header-button" ng-click="showNewDirectorInfo();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <table st-table="directorCollection" st-safe-src="currentProject.ClientData.DirectorInfos" class="table table-bordered table-condensed ng-table">
                    <thead>
                        <tr>
                            <th><span uib-tooltip="Фамилия, имя, отчество полностью">Ф.И.О</span></th>
                            <th><span uib-tooltip="Дата рождения">Дата рож-я</span></th>
                            <th><span uib-tooltip="Место рождения">Место рож-я</span></th>
                            <th><span uib-tooltip="№ удостоверения личности">№ док.</span></th>
                            <th><span uib-tooltip="Кем выдан/Дата выдачи/Срок действия">Выдан</span></th>
                            <th><span uib-tooltip="Место прописки">Прописка</span></th>
                            <th><span uib-tooltip="Место проживания">Проживание</span></th>
                            <th><span uib-tooltip="Контактный телефон">Тел</span></th>
                            <th><span uib-tooltip="Семейное положение, отметить, если женат/замужем">Жен/Зам</span></th>
                            <th><span uib-tooltip="Ф.И.О супруга (-и)">Супруг(-а)</span></th>
                            <th><span uib-tooltip="Ф.И.О. детей и их возраст">Дети</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in directorCollection" ng-right-click="clickDirectorInfo(row.Id)" menu-items="menuItems">
                            <td ng-model="row.Name" content-editable></td>
                            <td><input type="date" ng-model="row.DateOfBirth"></td>
                            <td ng-model="row.PlaceOfBirth" content-editable></td>
                            <td ng-model="row.Document" content-editable></td>
                            <td ng-model="row.DocumentDetails" content-editable></td>
                            <td ng-model="row.PlaceOfRegistration" content-editable></td>
                            <td ng-model="row.PlaceOfResidence" content-editable></td>
                            <td ng-model="row.PhoneNumber" content-editable></td>
                            <td><input type="checkbox" ng-model="row.IsMarried" /></td>
                            <td ng-model="row.Spouse" content-editable></td>
                            <td ng-model="row.Children" content-editable></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--END BLOCK-->
        <!--связанные компании-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Аффилиированные компании/лица
                <div class="clearfix "></div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label>Имеются ли Аффилиированные компании/лица:</label>
                    <p>
                        <label>
                            <input type="radio" name="tiedCompany" ng-model="currentProject.ClientData.RelatedCompanyType" value="1" />
                            да имеются, заемщик готов предоставить данные по всем компаниям
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="radio" name="tiedCompany" ng-model="currentProject.ClientData.RelatedCompanyType" value="2" />
                            да имеются, но заемщик готов предоставить данные только по нескольким из них
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="radio" name="tiedCompany" ng-model="currentProject.ClientData.RelatedCompanyType" value="3" />
                            да имеются, но заемщик не готов предоставить по ним данные
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="radio" name="tiedCompany" ng-model="currentProject.ClientData.RelatedCompanyType" value="4" />
                            нет, не имеются
                        </label>
                    </p>
                </div>
                <div class="form-group">
                    <label>Комментарии</label>
                    <textarea type="text" class="form-control" placeholder="Комментарии" ng-model="currentProject.ClientData.RelatedCompanyComment"></textarea>
                </div>
                <button class="btn btn-primary header-button btn-xs"
                        ng-show="currentProject.ClientData.RelatedCompanyType==1 || currentProject.ClientData.RelatedCompanyType==2"
                        ng-click="showNewRelatedCompanyInfo();">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <table st-table="relCompsCollection" st-safe-src="currentProject.ClientData.RelatedCompanyInfos"
                       class="table table-bordered table-condensed ng-table"
                       ng-show="currentProject.ClientData.RelatedCompanyType==1 || currentProject.ClientData.RelatedCompanyType==2">
                    <thead>
                        <tr>
                            <th><span uib-tooltip="Наименование аффилиированного лица/компании">Наименование</span></th>
                            <th><span uib-tooltip="Юридический адрес">Юр. адрес</span></th>
                            <th><span uib-tooltip="Фактический адрес">Факт. адр.</span></th>
                            <th><span uib-tooltip="Дата государственной регистрации">Дата рег.</span></th>
                            <th><span uib-tooltip="Вид деятельности">Вид деятельности</span></th>
                            <th><span uib-tooltip="Ф.И.О директора">Директор</span></th>
                            <th><span uib-tooltip="Ф.И.О учредителя">Учредитель</span></th>
                            <th><span uib-tooltip="Ф.И.О фактического собственника">Cобственник</span></th>
                            <th><span uib-tooltip="Указать как компании связаны с нашим заемщиком - например: компания оформлена на брата жены, фактически принадлежит заемщику">Комментарии</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in relCompsCollection" ng-right-click="clickRelatedCompanyInfo(row.Id)" menu-items="menuItems">
                            <td ng-model="row.CompanyName" content-editable></td>
                            <td ng-model="row.Address" content-editable></td>
                            <td ng-model="row.ActualAddress" content-editable></td>
                            <td><input type="date" ng-model="row.RegistrationDate"></td>
                            <td ng-model="row.ActivityType" content-editable></td>
                            <td ng-model="row.Director" content-editable></td>
                            <td ng-model="row.Founder" content-editable></td>
                            <td ng-model="row.Owner" content-editable></td>
                            <td ng-model="row.Comments" content-editable></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--END BLOCK-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Финансовый анализ компаний
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>По скольким компаниям группы будет производиться финансовый анализ</label>
                            <input type="number" class="form-control" placeholder="1" ng-model="currentProject.ClientData.FinAnalysisCompaniesCount" ng-change="finAnalysisCompaniesCountChanged()">
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" ng-model="currentProject.ClientData.ForeignEarnings">
                                У заемщика имеется валютная выручка
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Введите наименования рассматриваемых компаний</label>
                            <input type="text" class="form-control" placeholder="Название компании" ng-repeat="row in currentProject.ClientData.FinAnalysisCompanies" ng-model="row.Name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Юридические собственники компании-->

        <div class="panel panel-primary">
            <div class="panel-heading">
                Данные юридических лиц
                <div class="clearfix"></div>
            </div>
            <div class="panel-body panel-table">
                <button class="btn btn-primary btn-xs header-button" ng-click="showNewLegalOwnerCompanyInfo();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <table st-table="legOwnerCollection" st-safe-src="currentProject.ClientData.LegalOwnerCompanyInfos"
                       class="table table-bordered table-condensed ng-table">
                    <thead>
                        <tr>
                            <th><span uib-tooltip="Указать заемщика, созаемщика (если имеется), гаранта (если имеется), собственника (-ов) крупных участников Заемщика (10% и более долей (акций) в уставном капитале) с указанием конечных собственников - физических лиц), %">Наименование организации</span></th>
                            <th><span uib-tooltip="Статус">Статус</span></th>
                            <th><span uib-tooltip="Первый руководитель, Ф.И.О">Первый руководитель</span></th>
                            <th><span uib-tooltip="Наименование организации собственника">Собственники</span></th>
                            <th><span uib-tooltip="Доля в УК, %">Доля в УК, %</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in legOwnerCollection" ng-right-click="clickLegalOwnerCompanyInfo(row.Id)" menu-items="menuItems">
                            <td ng-model="row.Name" content-editable></td>
                            <td>
                                <select ng-model="row.State">
                                    <option value="Заемщик">Заемщик</option>залогодатель, аффилированная компания, прочее
                                    <option value="Созаемщик">Созаемщик</option>
                                    <option value="Гарант">Гарант</option>
                                    <option value="Учредитель заемщика">Учредитель заемщика</option>
                                    <option value="Учредитель созаемщика">Учредитель созаемщика</option>
                                    <option value="Учредитель гаранта">Учредитель гаранта</option>
                                    <option value="Залогодатель">Залогодатель</option>
                                    <option value="Аффилированная компания">Аффилированная компания</option>
                                    <option value="Прочее">Прочее</option>
                                </select>
                            </td>
                            <td ng-model="row.FirstChief" content-editable></td>
                            <td ng-model="row.OwnerCompanyName" content-editable></td>
                            <td ng-model="row.PercentOwnerShip" content-editable></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--END BLOCK-->
        <!--Кредитная история-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Кредитная история
                <div class="clearfix "></div>
            </div>

            <div class="panel-body panel-table">
                <button class="btn btn-primary btn-xs header-button" ng-click="showNewCreditHistoryInfo();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <table st-table="creditHistoryCollection" st-safe-src="currentProject.ClientData.CreditHistoryInfos"
                       class="table table-bordered table-condensed ng-table">
                    <thead>
                        <tr>
                            <th><span uib-tooltip="Порядковый номер Банковского займа/Кредитной линии/Гарантии/Аккредитива">№</span></th>
                            <th><span uib-tooltip="Наименование компании/лица (заемщик, созаемщик, гарант, учредитель, залогодатель и прочие связанные компании/лица)">Заемщик</span></th>
                            <th><span uib-tooltip="Наименование Банка/Кредитора">Кредитор</span></th>
                            <th><span uib-tooltip="Вид финансирования">Вид</span></th>
                            <th><span uib-tooltip="Сумма займа/Лимит кредитной линии">Сумма</span></th>
                            <th><span uib-tooltip="Ставка вознаграждения">Ставка, %</span></th>
                            <th><span uib-tooltip="Дата получения кредита/Открытия кредитной линии">Дата получения</span></th>
                            <th><span uib-tooltip="Дата погашения по договору/Дата завершения кредитной линии">Дата погашения<br />по договору</span></th>
                            <th><span uib-tooltip="Дата погашения по факту/Дата завершения кредитной линии по факту">Дата погашения<br />по факту</span></th>
                            <th><span uib-tooltip="Непогашенный остаток">Остаток</span></th>
                            <th><span uib-tooltip="Взнос по кредиту/условному обязательству">Взнос</span></th>
                            <th><span uib-tooltip="Целевое назначение">Цель</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="row in creditHistoryCollection" ng-right-click="clickCreditHistoryInfo(row.Id)" menu-items="menuItems">
                            <td ng-model="row.Id" content-editable></td>
                            <td ng-model="row.BorrowerName" content-editable></td>
                            <td ng-model="row.CompanyName" content-editable></td>
                            <td>
                                <select ng-options="item as item.Name for item in loanTypes track by item.Id"
                                        ng-model="row.LoanType"
                                        ng-change="loanTypeChanged(row)"></select>
                            </td>
                            <td ng-model="row.LoanAmount" editable-filter="'currency'" content-editable edit-callback="calculateCreditHistory()"></td>
                            <td ng-model="row.AnnualRate" content-editable></td>
                            <td><input type="date" ng-model="row.DateOfReceiving"></td>
                            <td><input type="date" ng-model="row.DateOfRepaymentAgreement"></td>
                            <td><input type="date" ng-model="row.DateOfRepaymentFact"></td>
                            <td ng-model="row.RemainingDebt" editable-filter="'currency'" content-editable edit-callback="calculateCreditHistory()"></td>
                            <td ng-model="row.LoanContribution" editable-filter="'currency'" content-editable edit-callback="calculateCreditHistory()"></td>
                            <td ng-model="row.LoanPurpose" content-editable></td>
                        </tr>
                        <tr ng-show="row.LoanType.Id==2 ||row.LoanType.Id==3 || row.LoanType.Id==4">
                            <td colspan="12">
                                <table st-table="row.LoanDetails" class="table table-bordered table-condensed ng-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <button class="btn btn-primary btn-xs pull-left"
                                                        ng-click="addLoanDetail(row, 1)"
                                                        ng-if="row.LoanType.Id!=4">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                                <span uib-tooltip="Номер договора/порядковый номер транша">
                                                    № дог.
                                                </span>
                                            </th>
                                            <th><span uib-tooltip="Сумма">Сумма</span></th>
                                            <th><span uib-tooltip="Ставка вознаграждения">Ставка</span></th>
                                            <th><span uib-tooltip="Дата получения кредита">Дата получения</span></th>
                                            <th><span uib-tooltip="Дата погашения по договору">Погаш. дог.</span></th>
                                            <th><span uib-tooltip="Дата погашения по факту">Погаш. факт.</span></th>
                                            <th><span uib-tooltip="Непогашенный остаток">Остаток</span></th>
                                            <th><span uib-tooltip="Взнос по кредиту/условному обязательству">Взнос</span></th>
                                            <th><span uib-tooltip="Целевое назначение">Цель</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="detRow in row.LoanDetails" ng-right-click="loanDetailsRowClicked(detRow.Document, detRow.noEditing, row.Id)" menu-items="menuItems">
                                            <td ng-if="detRow.noEditing">
                                                <button class="btn btn-xs btn-primary pull-left"
                                                        ng-click="addLoanDetail(row, detRow.detType)">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>{{detRow.Document}}
                                            </td>
                                            <td ng-model="detRow.Document" content-editable ng-if="!detRow.noEditing"></td>
                                            <td ng-model="detRow.LoanAmount" editable-filter="'currency'" content-editable edit-callback="calculateCreditHistory()"></td>
                                            <td ng-model="detRow.AnnualRate" content-editable></td>
                                            <td><input type="date" ng-model="detRow.DateOfReceiving"></td>
                                            <td><input type="date" ng-model="detRow.DateOfRepaymentAgreement"></td>
                                            <td><input type="date" ng-model="detRow.DateOfRepaymentFact"></td>
                                            <td ng-model="detRow.RemainingDebt" editable-filter="'currency'" content-editable edit-callback="calculateCreditHistory()"></td>
                                            <td ng-model="detRow.LoanContribution" editable-filter="'currency'" content-editable edit-callback="calculateCreditHistory()"></td>
                                            <td ng-model="detRow.LoanPurpose" content-editable></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr ng-repeat-end>
                            <td colspan="2"><span uib-tooltip="В комментариях указываем на что фактически брали кредит, использован ли по целевому назначению, график погашения, осуществлялись ли по кредиту реструктуризации, допускали ли просрочки (если да, то описать причины, сроки просрочек в истори кредитования Клиента). В случае, если цель запрашиваемых средств - рефинансирование, необходимо обязательно указать в кредитной истории рефинансируемый заем, запросить информацию (документы) о целевом использовании, эффективности использования рефинансируемого займа.">Комментарии</span></td>
                            <td colspan="10" ng-model="row.Comments" content-editable></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12" class="text-center">
                                <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="4"></th>
                            <th><span uib-tooltip="Сумма займа/Лимит кредитной линии">Сумма</span></th>
                            <th colspan="4"></th>
                            <th><span uib-tooltip="Непогашенный остаток">Остаток</span></th>
                            <th><span uib-tooltip="Взнос по кредиту/условному обязательству">Взнос</span></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center">
                                <strong>Итого:</strong>
                            </td>
                            <td>{{currentProject.ClientData.CreditHistoryInfo.LoanAmount|currency:'':2}}</td>
                            <td colspan="4"></td>
                            <td>{{currentProject.ClientData.CreditHistoryInfo.RemainingDebt|currency:'':2}}</td>
                            <td>{{currentProject.ClientData.CreditHistoryInfo.LoanContribution|currency:'':2}}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--END BLOCK-->
        <!--Банковские счета-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Банковские счета
                <div class="clearfix "></div>
            </div>

            <div class="panel-body panel-table">
                <button class="btn btn-primary btn-xs header-button" ng-click="showNewBankAccountInfo();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <table st-table="bankAccountCollection" st-safe-src="currentProject.ClientData.BankAccountInfos"
                       class="table table-bordered table-condensed ng-table">
                    <thead>
                        <tr>
                            <th><span uib-tooltip="Владелец счета">Владелец</span></th>
                            <th><span uib-tooltip="Наименование Банка">Банк</span></th>
                            <th><span uib-tooltip="№ счета">№ счета</span></th>
                            <th><span uib-tooltip="Валюта">Валюта</span></th>
                            <th><span uib-tooltip="Остаток на момент анализа">Остаток</span></th>
                            <th colspan="2"><span uib-tooltip="Период за который предосталены данные по оборотам">Период по оборотам</span></th>
                            <th><span uib-tooltip="Оборот по счету за указанный период">Оборот</span></th>
                            <th><span uib-tooltip="Среднемесячный оборот">Мес. оборот</span></th>
                            <th><span uib-tooltip="Имеется ли картотека">Картотека</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="row in bankAccountCollection" ng-right-click="clickBankAccountInfo(row.Id)" menu-items="menuItems">
                            <td ng-model="row.Owner" content-editable></td>
                            <td ng-model="row.CompanyName" content-editable></td>
                            <td ng-model="row.AccountNumber" content-editable></td>
                            <td ng-model="row.Currency" content-editable></td>
                            <td ng-model="row.AccountBalance" editable-filter="'currency'" content-editable></td>
                            <td><input type="date" ng-model="row.DatePeriodStart" ng-change="calculateBankAccounts()"></td>
                            <td><input type="date" ng-model="row.DatePeriodEnd" ng-change="calculateBankAccounts()"></td>
                            <td ng-model="row.Turnover" editable-filter="'currency'" content-editable edit-callback="calculateBankAccounts()"></td>
                            <td ng-model="row.AverageTurnover" editable-filter="'currency'" content-editable edit-callback="calculateBankAccounts()"></td>
                            <td><input type="checkbox" ng-model="row.Card" /></td>
                        </tr>
                        <tr ng-repeat-end>
                            <td colspan="2"><span uib-tooltip="Комментарии о цели открытия счета (для обслуживания кредита, для осуществления операций по бизнесу с детальным описанием, для других целей - указать для каких), информация о наличии/отсутствии картотеки.">Комментарии</span></td>
                            <td colspan="10" ng-model="row.Comments" content-editable></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12" class="text-center">
                                <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--END BLOCK-->
    </div>
</div>