<div ng-controller="consolidatedBalanceController">
<div class="panel panel-primary">
    <div class="panel-heading">Коэфициенты</div>

    <div class="panel-body">
        <table class="table table-bordered table-condensed ng-table">
            <tbody>
            <tr>
                <td colspan="2"><strong>Показатели ликвидности</strong></td>
            </tr>
            <tr>
                <td>Коэффициент срочной ликвидности</td>
                <td>
                    <strong>{{currentProject.ConsolidatedBalance.UrgentLiquidityCoef|currency:'':2}}</strong>
                </td>
            </tr>
            <tr>
                <td>Коэффициент текущей ликвидности</td>
                <td>
                    {{currentProject.ConsolidatedBalance.CurrentLiquidityCoef|currency:'':2}}
                </td>
            </tr>
            <tr>
                <td colspan="2"><strong>Показатели управления рабочим капиталом</strong></td>
            </tr>
            <tr>
                <td>Чистый оборотный капитал</td>
                <td>
                    <strong>{{currentProject.ConsolidatedBalance.NetWorkingCapital|currency:'':2}}</strong>
                </td>
            </tr>
            <tr>
                <td>Срок оборачиваемости дебиторов (дн.)</td>
                <td>
                    {{currentProject.ConsolidatedBalance.DebtorsTurnoverTerm|currency:'':2}}
                </td>
            </tr>
            <tr>
                <td>Срок оборачиваемости ТМЗ (дн.)</td>
                <td>
                    {{currentProject.ConsolidatedBalance.InventoriesTurnoverTerm|currency:'':2}}
                </td>
            </tr>
            <tr>
                <td>Срок оборачиваемости кредиторов (дн.)</td>
                <td>
                    {{currentProject.ConsolidatedBalance.CreditorsTurnoverTerm|currency:'':2}}
                </td>
            </tr>
            <tr>
                <td>Операционный цикл (дн.)</td>
                <td>
                    {{currentProject.ConsolidatedBalance.OperationCycle|currency:'':2}}
                </td>
            </tr>
            <tr>
                <td>Финансовый цикл (дн.)</td>
                <td>
                    {{currentProject.ConsolidatedBalance.FinancialCycle|currency:'':2}}
                </td>
            </tr>
            <tr>
                <td colspan="2"><strong>Показатели рентабельности, в %</strong></td>
            </tr>
            <tr>
                <td>Валовая рентабельность</td>
                <td>
                    <strong>{{currentProject.ConsolidatedBalance.GrossProfitability|currency:'':2}}%</strong>
                </td>
            </tr>
            <tr>
                <td>Рентабельность до уплаты %% и КПН</td>
                <td>
                    {{currentProject.ConsolidatedBalance.ProfitabilityBeforeTaxes|currency:'':2}}%
                </td>
            </tr>
            <tr>
                <td>Рентабельность до уплаты %% и КПН</td>
                <td>
                    {{currentProject.ConsolidatedBalance.ProfitabilityBeforeTaxes|currency:'':2}}%
                </td>
            </tr>
            <tr>
                <td>Чистая рентабельность</td>
                <td>
                    {{currentProject.ConsolidatedBalance.NetProfitability|currency:'':2}}%
                </td>
            </tr>
            <tr>
                <td>Коэффициент покрытия %%</td>
                <td>
                    {{currentProject.ConsolidatedBalance.CoverageRate|currency:'':2}}%
                </td>
            </tr>
            <tr>
                <td>ROE</td>
                <td>
                    {{currentProject.ConsolidatedBalance.ROE|currency:'':2}}%
                </td>
            </tr>
            <tr>
                <td>ROA</td>
                <td>
                    {{currentProject.ConsolidatedBalance.ROA|currency:'':2}}%
                </td>
            </tr>
            <tr>
                <td colspan="2"><strong>Показатели финансовой устойчивости</strong></td>
            </tr>
            <tr>
                <td>Отношение фин. долга к активам</td>
                <td>
                    <strong>{{currentProject.ConsolidatedBalance.DebtAssetsRatio|currency:'':2}}%</strong>
                </td>
            </tr>
            <tr>
                <td>Доля собственного капитала в активах, (коэффициент автономии)</td>
                <td>
                    {{currentProject.ConsolidatedBalance.AutonomyCoef|currency:'':2}}%
                </td>
            </tr>
            <tr>
                <td colspan="2"><strong>Прочие показатели</strong></td>
            </tr>
            <tr>
                <td>Скорость товарооборота</td>
                <td>
                    {{currentProject.ConsolidatedBalance.TurnoverSpeedCoef|currency:'':2}}
                </td>
            </tr>

            <tr>
                <td>Коэффициент оборачиваемости запасов</td>
                <td>
                    {{currentProject.ConsolidatedBalance.TurnoverInventoryCoef|currency:'':2}}
                </td>
            </tr>
            <tr>
                <td><strong>Коэффициент собственного капитала №1</strong></td>
                <td>
                    {{currentProject.ConsolidatedBalance.Equity1Coef|currency:'':2}}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label>Изменение Собственного капитала</label>
            <textarea type="text" class="form-control" placeholder="Комментарии по данной статье" ng-model="currentProject.ConsolidatedBalance.Comments"></textarea>
        </div>
    </div>
</div>
    <table class="table table-bordered table-condensed ng-table">
        <thead>
            <tr>
                <th><span uib-tooltip="Актив">Актив</span></th>
                <th ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances"><span uib-tooltip="{{bal.Date|date:'dd.MM.yyyy'}}">{{bal.Date|date:'dd.MM.yyyy'}}</span></th>
                <th><span uib-tooltip="Пассив">Пассив</span></th>
                <th ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances"><span uib-tooltip="{{bal.Date|date:'dd.MM.yyyy'}}">{{bal.Date|date:'dd.MM.yyyy'}}</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span uib-tooltip="Касса">Касса</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Assets.Checkout.ConsTotal|currency:'':2}}</td>
                <td><span uib-tooltip="Счета к оплате">Счета к оплате</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Liabilities.PayableAccounts.ConsTotal|currency:'':2}}</td>
            </tr>

            <tr>
                <td><span uib-tooltip="Расчетный счет">Расчетный счет</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Assets.CurrentAccount.ConsTotal|currency:'':2}}</td>
                <td><span uib-tooltip="Частные займы (менее 12 мес.)">Част.займы(мен. 12 мес.)</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Liabilities.ShortPrivateLoans.ConsTotal|currency:'':2}}</td>
            </tr>
            <tr>
                <td><span uib-tooltip="Сбережения">Сбережения</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Assets.Savings.ConsTotal|currency:'':2}}</td>
                <td><span uib-tooltip="Банковский кредит (менее 12 месяцев)">Банк.кр.(мен. 12 мес.)</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Liabilities.ShortCredit.ConsTotal|currency:'':2}}</td>
            </tr>
            <tr>
                <td><span uib-tooltip="Депозит">Депозит</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Assets.Deposit.ConsTotal|currency:'':2}}</td>
                <td><span uib-tooltip="Прочие текущие задолженности">Прочие тек.зад-ти</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Liabilities.OtherCurrentDebt.ConsTotal|currency:'':2}}</td>
            </tr>
            <tr>
                <td><strong uib-tooltip="Ликвидные средства">Ликвидные средства</strong></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.ConsLiquidAssets|currency:'':2}}</td>
                <td><strong uib-tooltip="Итого краткосрочная задолженность">Итого кр.-сроч. зад-ть</strong></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.ConsTotalShortTermDebt|currency:'':2}}</td>
            </tr>
            <tr>
                <td><span uib-tooltip="Дебиторская задолженность">Дебиторская задолженность</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Assets.Recievables.ConsTotal|currency:'':2}}</td>
                <td><span uib-tooltip="Частные займы (более 12 мес.)">Част.займы(бол. 12 мес.)</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Liabilities.LongPrivateLoans.ConsTotal|currency:'':2}}</td>
            </tr>
            <tr>
                <td><span uib-tooltip="Прочая дебиторская задолженность">Проч. деб. задолженность</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Assets.OtherRecievables.ConsTotal|currency:'':2}}</td>
                <td><span uib-tooltip="Банковский кредит (более 12 месяцев)">Банк.кр.(бол. 12 мес.)</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Liabilities.LongCredit.ConsTotal|currency:'':2}}</td>
            </tr>
            <tr>
                <td><strong uib-tooltip="Дебиторская задолженность">Дебиторская задолженность</strong></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.ConsReceivables|currency:'':2}}</td>
                <td><span uib-tooltip="Прочие пассивы">Прочие пассивы</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Liabilities.OtherLiabilities.ConsTotal|currency:'':2}}</td>
            </tr>
            <tr>
                <td><strong uib-tooltip="ТМЗ">ТМЗ</strong></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.ConsInventories|currency:'':2}}</td>
                <td><strong uib-tooltip="Итого долгосрочная задолженность">Итого долгосрочная задолженность</strong></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.ConsTotalLongTermDebt|currency:'':2}}</td>
            </tr>
            <tr>
                <td><strong uib-tooltip="Всего оборотных средств">Всего оборотных средств</strong></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.ConsTotalCurrentAssets|currency:'':2}}</td>
                <td></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances"></td>
            </tr>
            <tr>
                <td><span uib-tooltip="Оборудование">Оборудование</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Assets.Hardware.ConsTotal|currency:'':2}}</td>
                <td><strong uib-tooltip="Всего кредиторская задолженность">Всего кредиторская задолженность</strong></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.ConsTotalLongAccountsPayable|currency:'':2}}</td>
            </tr>
            <tr>
                <td><span uib-tooltip="Автотранспорт">Автотранспорт</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Assets.MotorTransport.ConsTotal|currency:'':2}}</td>
                <td></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances"></td>
            </tr>
            <tr>
                <td><span uib-tooltip="Недвижимость">Недвижимость</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Assets.RealEstate.ConsTotal|currency:'':2}}</td>
                <td></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances"></td>
            </tr>
            <tr>
                <td><strong uib-tooltip="Всего основных средств">Всего основных средств</strong></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.ConsTotalFixedAssets|currency:'':2}}</td>
                <td><strong uib-tooltip="Собственный капитал">Собственный капитал</strong></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.ConsEquity|currency:'':2}}</td>
            </tr>
            <tr>
                <td><span uib-tooltip="Инвестиции">Инвестиции</span></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.Assets.Investments.ConsTotal|currency:'':2}}</td>
                <td></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances"></td>
            </tr>
            <tr>
                <td><strong uib-tooltip="ИТОГО">ИТОГО:</strong></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.ConsTotalAssets|currency:'':2}}</td>
                <td><strong uib-tooltip="ИТОГО">ИТОГО:</strong></td>
                <td ng-repeat="bal in currentProject.ConsolidatedBalance.CompanyBalances">{{bal.ConsTotalLiabilities|currency:'':2}}</td>
            </tr>
        </tbody>
    </table>
</div>