<div ng-controller="contractAnalysisController">

    <div class="panel panel-primary">
        <div class="panel-heading">
            Договоры/контракты на реализацию товаров/работ/услуг
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <button class="btn btn-primary btn-xs header-button" ng-click="showNewSales();"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="salesCollection" st-safe-src="currentProject.ContractAnalysis.Sales" class="table table-bordered table-condensed ng-table">
                <thead>
                <tr>
                    <th><span uib-tooltip="Покупатель/заказчик">Покупатель</span></th>
                    <th><span uib-tooltip="Номер и дата договора (при наличии)">Договор</span></th>
                    <th><span uib-tooltip="Дата заключения">Дата заключения</span></th>
                    <th><span uib-tooltip="Дата истечения (может бть не заполнено, т.к. контракт может быть до полного исполнения обязательств)">Дата истечения</span></th>
                    <th><span uib-tooltip="Приобретение оборудования. выполнения работ по монтажу. программированию. наладке и внедрению систем АСУТП в соответствии с проектом «Увеличение производственной мощности на участке №1 »">Предмет договора</span></th>
                    <th><span uib-tooltip="Общая стоимость товаров/работ/услуг">Стоимость</span></th>
                    <th><span uib-tooltip="Оплаченная сумма, (тенге)">Оплачено, тенге</span></th>
                    <th><span uib-tooltip="Не оплаченная сумма (тенге)">Неоплачено, тенге</span></th>
                    <th><span uib-tooltip="Условия оплаты">Условия</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in salesCollection" ng-right-click="clickSales(row.Id)" menu-items="menuItems">
                    <td ng-model="row.Name" content-editable></td>
                    <td ng-model="row.Document" content-editable></td>
                    <td><input type="date" ng-model="row.SignDate"></td>
                    <td><input type="date" ng-model="row.EndDate"></td>
                    <td ng-model="row.ContractSubject" content-editable></td>
                    <td ng-model="row.TotalCost" editable-filter="'currency'" content-editable edit-callback="calculateTotalSales()"></td>
                    <td ng-model="row.PaidSum" editable-filter="'currency'" content-editable edit-callback="calculateTotalSales()"></td>
                    <td>{{row.UnpaidSum|currency:'':2}}</td>
                    <td ng-model="row.PayCondition" content-editable></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">Итого</td>
                    <td>{{currentProject.ContractAnalysis.TotalSales| currency:'':2}}</td>
                    <td>{{currentProject.ContractAnalysis.TotalSalesPaid| currency:'':2}}</td>
                    <td>{{currentProject.ContractAnalysis.TotalSalesUnpaid| currency:'':2}}</td>
                </tr>
                </tfoot>
            </table>
            <div class="form-group">
                <label>Комментарии</label>
                <textarea type="text" class="form-control" placeholder="Комментарии" ng-model="currentProject.ContractAnalysis.SalesComment"></textarea>
            </div>
        </div>
    </div>
    
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            Договоры/контракты на приобретение товаров/работ/услуг
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <button class="btn btn-primary btn-xs header-button" ng-click="showNewPurchases();"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="purchasesCollection" st-safe-src="currentProject.ContractAnalysis.Purchases" class="table table-bordered table-condensed ng-table">
                <thead>
                    <tr>
                        <th><span uib-tooltip="Поставщик/продавец">Поставщик</span></th>
                        <th><span uib-tooltip="Номер и дата договора (при наличии)">Договор</span></th>
                        <th><span uib-tooltip="Дата заключения">Дата заключения</span></th>
                        <th><span uib-tooltip="Дата истечения (может бть не заполнено, т.к. контракт может быть до полного исполнения обязательств)">Дата истечения</span></th>
                        <th><span uib-tooltip="Поставка расходных материалов">Предмет договора</span></th>
                        <th><span uib-tooltip="Общая стоимость товаров/работ/услуг">Стоимость</span></th>
                        <th><span uib-tooltip="Оплаченная сумма, (тенге)">Оплачено, тенге</span></th>
                        <th><span uib-tooltip="Не оплаченная сумма (тенге)">Неоплачено, тенге</span></th>
                        <th><span uib-tooltip="Условия оплаты">Условия</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in purchasesCollection" ng-right-click="clickPurchases(row.Id)" menu-items="menuItems">
                        <td ng-model="row.Name" content-editable></td>
                        <td ng-model="row.Document" content-editable></td>
                        <td><input type="date" ng-model="row.SignDate"></td>
                        <td><input type="date" ng-model="row.EndDate"></td>
                        <td ng-model="row.ContractSubject" content-editable></td>
                        <td ng-model="row.TotalCost" editable-filter="'currency'" content-editable edit-callback="calculateTotalPurchases()"></td>
                        <td ng-model="row.PaidSum" editable-filter="'currency'" content-editable edit-callback="calculateTotalPurchases()"></td>
                        <td>{{row.UnpaidSum|currency:'':2}}</td>
                        <td ng-model="row.PayCondition" content-editable></td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">Итого</td>
                    <td>{{currentProject.ContractAnalysis.TotalPurchases| currency:'':2}}</td>
                    <td>{{currentProject.ContractAnalysis.TotalPurchasesPaid| currency:'':2}}</td>
                    <td>{{currentProject.ContractAnalysis.TotalPurchasesUnpaid| currency:'':2}}</td>
                </tr>
                </tfoot>
            </table>
            <div class="form-group">
                <label>Комментарии</label>
                <textarea type="text" class="form-control" placeholder="Комментарии" ng-model="currentProject.ContractAnalysis.PurchasesComment"></textarea>
            </div>
        </div>
    </div>

</div>