<div ng-controller="creditDataController">

    <div class="container">

        <!--Наименование компании-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Цель займа</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="exampleSelect1">Выберите цель займа</label>
                            <select multiple class="form-control" id="exampleSelect1" ng-model="currentProject.ClientData.EconomicSectors">
                                <option value="1">Пополнение оборотных средств - ПОС</option>
                                <option value="2">Приобретение основных средств</option>
                                <option value="3">Приобретение коммерческой недвижимости</option>
                                <option value="4">Ремонт/модернизация основных средств</option>
                                <option value="5">Строительство коммерческой недвижимости</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Денежные средства</div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-8">Запрошенная сумма кредитной линии </label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" placeholder="" ng-model="currentProject.CreditData.CreditLineSum">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-8">Запрошенная сумма кредита </label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" placeholder="" ng-model="currentProject.CreditData.CreditSum">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Запрошенный срок кредита</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="currentProject.CreditData.RequestedCreditTerm">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Запрошенная ставка</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.CreditData.RequestedLoanRate">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Запрошенная отсрочка</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.CreditData.RequestedLoanDelay">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Предложенная сумма кредитной линии</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.CreditData.ProposedCreditLineSum">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-8">Предложенная сумма кредита/субкредита</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.CreditData.ProposedLoanRate">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Предложенный срок кредитной линии</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.CreditData.ProposedCreditLineTerm">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Предложенный срок кредита</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.CreditData.ProposedCreditSum">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Период доступности кредитной линии</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.CreditData.CreditLineAvailabilityTerm">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Предложенная ставка вознаграждения</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.CreditData.PurposedRewardRate">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Предложенная отсрочка</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.CreditData.ProposedDelay">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Месячный взнос</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.CreditData.MonthlyFee">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    В случае финансирования на цели приобретения недвижимого имущества необходимо отразить результаты проверки информации о продавце (собственнике) недвижимого имущества, содержащейся в справке о зарегистрированных правах (обременениях) на приобретаемое недвижимое
                    имущество и его технических характеристиках, с информацией, содержащейся в предварительном договоре о приобретении недвижимого имущества, заключенном между Клиентом/Заемщиком (приобретателем) и продавцом недвижимого имущества, а также
                    в правоустанавливающих, идентификационных документах на приобретаемое недвижимое имущество</div>
            </div>


        </div>


    </div>

</div>