<div ng-controller="dataDamuController">

    <div class="container">

        <!--Наименование компании-->
        <div class="row">


            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Данные по гарантии ДАМУ</div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-8">Полное наименование заемщика</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="" ng-model="currentProject.DataDamu.BorrowerName">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-8">Наименование проекта </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="" ng-model="currentProject.DataDamu.ProjectName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Сумма гарантии</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="currentProject.DataDamu.CreditSum">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Срок гарантии</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="currentProject.DataDamu.GuaranteeTerm">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-8">Гарантия в % выражении от суммы займа</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.DamuData.GuaranteeRate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>