<div ng-controller="finDataOddsController">
    <div class="container" style="padding-bottom: 10px">
        <div class="col-md-3">
            <button class="btn btn-success" ng-click="showSubRows(currentProject.FinDataOdds.Odds.Table, true)"><i class="fa fa-expand fa-fw"></i> Развернуть все</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-warning" ng-click="showSubRows(currentProject.FinDataOdds.Odds.Table, false)"><i class="fa fa-compress fa-fw"></i> Свернуть все</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="updateOdds()"><i class="fa fa-pencil-square-o fa-fw"></i> Обновить исходные данные</button>
        </div>
    </div>
    <div ng-if="currentProject.FinDataOdds.Odds.Header">
        <table st-table="currentProject.FinDataOdds.Odds.Table" class="table table-bordered table-condensed ng-table">
            <thead>
                <tr>
                    <th><span uib-tooltip="Период">Период</span></th>
                    <th ng-repeat="month in currentProject.FinDataOdds.Odds.Header track by $index"><span uib-tooltip="{{month.Name}}">{{month.Name}}</span></th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="row in currentProject.FinDataOdds.Odds.Table"
                ng-class="{'active bold-trow':row.Calculate}">
                    
                <td>
                    <button class="btn btn-xs btn-primary pull-left"
                            ng-click="addSubRow(row, currentProject.FinDataOdds.Odds.Header)"
                            ng-if="!(row.Calculate || takeFromOpiu.indexOf(row.VarName)!==-1)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button><span ng-click="row.ShowSubRows=!row.ShowSubRows">{{row.Title}}</span>
                </td>

                <td ng-repeat-start="month in currentProject.FinDataOdds.Odds.Header track by $index"
                    ng-model="row[month.VarName]" editable-filter="{{getDataType(row, month.VarName)}}"
                    content-editable
                    non-editable="{{checkEditability(row, month.VarName, row.Rows && row.Rows.length>0)}}"
                    edit-callback="calculateOdds()"
                    ng-if="!cellOptionsShown(row.VarName, month.VarName, row.Rows && row.Rows.length>0)"></td>
                <td ng-repeat-end ng-if="cellOptionsShown(row.VarName, month.VarName, row.Rows && row.Rows.length>0)">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-xs btn-outline" uib-dropdown-toggle>
                            {{row[month.VarName] | currency:'':2}}{{getDataType(row, month.VarName).indexOf('percent')!==-1?'%':''}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-click="cellDropdownChoice(row, month, false)" ng-show="outExpenesToPopulate.indexOf(row.VarName) === -1">
                                <a href="javascript:void(0)">Исплользовать прогнозное значение из ОПИУ</a>
                            </li>
                            <li role="menuitem" ng-click="cellDropdownChoice(row, month, true)">
                                <a href="javascript:void(0)">Ввести другое значение</a>
                            </li>
                            <li role="menuitem" ng-click="populateValue(row, month)" ng-show="outExpenesToPopulate.indexOf(row.VarName) !== -1">
                                <a href="javascript:void(0)">Распространить данные на следующие месяцы</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end ng-repeat="subRow in row.Rows"
                    ng-show="row.ShowSubRows">

                <td>
                    <div>
                        <button class="btn btn-xs btn-danger pull-left"
                                ng-click="deleteSubRow(row, subRow)">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        <div class="content-editable-container" ng-model="subRow.Title" content-editable></div>
                    </div>
                </td>
                <td ng-repeat-start="month in currentProject.FinDataOdds.Odds.Header track by $index"
                    ng-model="subRow[month.VarName]" editable-filter="{{getDataType(row, month.VarName)}}"
                    content-editable
                    non-editable="{{checkEditability(row, month.VarName)}}"
                    edit-callback="calculateOdds()"
                    ng-if="!cellOptionsShown(row.VarName, month.VarName)"></td>
                <td ng-repeat-end ng-if="cellOptionsShown(row.VarName, month.VarName)">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-xs btn-outline" uib-dropdown-toggle>
                            {{subRow[month.VarName] | currency:'':2}}{{getDataType(row, month.VarName).indexOf('percent')!==-1?'%':''}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-click="cellDropdownChoice(subRow, month, false)"><a href="javascript:void(0)">Исплользовать прогнозное значение из ОПИУ</a></li>
                            <li role="menuitem" ng-click="cellDropdownChoice(subRow, month, true)"><a href="javascript:void(0)">Ввести другое значение</a></li>
                            <li role="menuitem" ng-click="populateValue(row, month, subRow)" ng-show="outExpenesToPopulate.indexOf(row.VarName) !== -1">
                                <a href="javascript:void(0)">Распространить данные на следующие месяцы</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel panel-primary">
            <div class="panel-heading">
                КОММЕНТАРИИ
                <div class="clearfix "></div>
            </div>

            <div class="panel-body">
                <div class="row" ng-repeat="row in currentProject.FinDataOdds.Odds.Table | filter:oddsItemHasData">
                    <label class="col-md-3">{{row.Title}}</label>
                    <div class="col-md-9"><textarea type="text" class="form-control" placeholder="Комментарии" ng-model="row.Comments"></textarea></div>
                </div>
            </div>
        </div>
    </div>
</div>