<div ng-controller="finDataCrossCheckingController">

    <div class="panel panel-primary">
        <div class="panel-heading">Cross Checking</div>

        <div class="panel-body">
            <table class="table table-bordered table-condensed ng-table">
                <tbody>
                    <tr>
                        <td><strong>Фактический прирост СК</strong></td>
                        <td>
                            {{currentProject.FinDataCrossChecking.ActualIncreaseSK|currency:'':2}}
                        </td>
                        <td>СК2-СК1</td>
                    </tr>

                    <tr>
                        <td><strong>Ожидаемый прирост СК</strong></td>
                        <td>
                            {{currentProject.FinDataCrossChecking.ExpectedIncreaseSK|currency:'':2}}
                        </td>
                        <td>ЧП х Срок - % по кредиту (выплаченные)</td>
                    </tr>

                    <tr>
                        <td><strong>Фактический СК</strong></td>
                        <td>
                            {{currentProject.FinDataCrossChecking.ActualSK|currency:'':2}}
                        </td>
                        <td>СК2</td>
                    </tr>

                    <tr>
                        <td><strong>Ожидаемый СК</strong></td>
                        <td>
                            {{currentProject.FinDataCrossChecking.ExpectedSK|currency:'':2}}
                        </td>
                        <td>СК1 + ожидаемый прирост +/- факторы, влияющие на размер собственного капитала</td>
                    </tr>

                    <tr>
                        <td><strong>Разница</strong></td>
                        <td>
                            {{currentProject.FinDataCrossChecking.DiffSK|currency:'':2}}
                        </td>
                        <td>Фактический СК - Ожидаемый СК</td>
                    </tr>

                    <tr>
                        <td><strong>Чистая прибыль за период</strong></td>
                        <td>
                            {{currentProject.FinDataCrossChecking.PeriodNetProfit|currency:'':2}}
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td><strong>Срок, мес.</strong></td>
                        <td>
                            {{currentProject.FinDataCrossChecking.Period|currency:'':1}}
                        </td>
                        <td></td>
                    </tr>


                    <tr>
                        <td><strong>% по кредиту (выплаченные)</strong></td>
                        <td>
                            <input type="number" class="form-control" 
                                   ng-change="calculateCrossChecking()"
                                   ng-model="currentProject.FinDataCrossChecking.PaidInterest">
                        </td>
                        <td></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Комментарии</div>


        <div class="panel-body">
            <div class="form-group">
                <label>Комментарии</label>
                <textarea type="text" class="form-control" placeholder="Комментарии" ng-model="currentProject.FinDataCrossChecking.Comments"></textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            ФАКТОРЫ ВЛИЯЮЩИЕ НА РАЗМЕР СК
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <button class="btn btn-primary btn-xs header-button" ng-click="addNewRow(currentProject.FinDataCrossChecking.Factors);"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="currentProject.FinDataCrossChecking.Factors" class="table table-bordered table-condensed ng-table">
                <thead>
                <tr>
                    <th><span uib-tooltip="Денежная статья/Неденежная статья. Отметить, если статья является денежной.
                                                Под денежными понимается расходы повлекшие рельный отток денег, например, 'путешествие за границу' и т.д. под
                                                'не денежными' понимается методологические изменения, например, сбережения, заемщика вынесены за баланс, т.к.
                                                не были подтверждены, либо их конечная цель не связана с бизнесом. Либо 'Переоценка активов в сторону
                                                увеличения/уменьшения' и т.д.">Денежная статья</span></th>
                    <th><span uib-tooltip="Наименование">Наименование</span></th>
                    <th><span uib-tooltip="Сумма. Нужно указывать отрицательные значения, если фактор привел к уменьшению СК">Сумма</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in currentProject.FinDataCrossChecking.Factors" ng-right-click="clickRightTableRow(currentProject.FinDataCrossChecking.Factors, row.Id)" menu-items="menuItems">
                    <td><input type="checkbox" ng-model="row.IsMoney"/></td>
                    <td ng-model="row.Name" content-editable></td>
                    <td ng-model="row.Sum" editable-filter="'currency'" content-editable edit-callback="calculateCrossChecking()"></td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-center">
                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>