<div ng-controller="finDataOpiuController">
    <div ng-repeat="opiu in currentProject.FinDataOpiu.Opius">
        <table st-table="opiu.Table" class="table table-bordered table-condensed ng-table">
            <thead>
                <tr>
                    <th colspan="30">{{opiu.Name}}</th>
                </tr>
                <tr>
                    <th><span uib-tooltip="Наименование">Наименование</span></th>
                    <th ng-repeat="month in opiu.Months track by $index"><span uib-tooltip="{{month.Name}}">{{month.Name}}</span></th>
                    <th><span uib-tooltip="Среднее текущее">Среднее текущее</span></th>
                    <th><span uib-tooltip="Среднее прогноз">Среднее прогноз</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in opiu.Table"
                    ng-class="{'active bold-trow':row.Calculate}">

                    <td>{{row.Title}}</td>

                    <td ng-repeat="month in opiu.Months track by $index"
                        ng-model="row['M'+month.Id]"
                        content-editable
                        non-editable="{{row.Calculate}}"
                        edit-callback="calculateOpiu(opiu)"></td>
                    
                    <td>{{row.Avg | currency:'':2}}</td>
                    <td content-editable ng-model="row.AvgPrognose"></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>