<div ng-controller="finDataBalanceTableController">
    <div class="container" style="padding-bottom: 10px">
        <div class="col-md-3">
            <select class="form-control"
                    ng-options="item as item.CompanyName for item in currentProject.FinDataBalance.Balances track by item.Id"
                    ng-model="activeCompany"
                    ng-change="activeCompanyChangedChanged()"></select>
        </div>
        <div class="col-md-3">
            <select class="form-control"
                    ng-options="item as item.Name for item in activeCompany.CompanyBalances track by item.Id"
                    ng-model="activeBalance" ng-change="activeBalanceChanged()"></select>
        </div>
    </div>

    <div ng-if="activeBalance">
        <div class="panel panel-primary">
            <div class="panel-heading">Коэфициенты</div>

            <div class="panel-body">
                <table class="table table-bordered table-condensed ng-table">
                    <tbody>
                        <tr>
                            <td colspan="2"><strong>Показатели ликвидности</strong></td>
                        </tr>
                        <tr>
                            <td>Коэффициент срочной ликвидности</td>
                            <td>
                                <strong>{{activeCompany.UrgentLiquidityCoef|currency:'':2}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Коэффициент текущей ликвидности</td>
                            <td>
                                {{activeCompany.CurrentLiquidityCoef|currency:'':2}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Показатели управления рабочим капиталом</strong></td>
                        </tr>
                        <tr>
                            <td>Чистый оборотный капитал</td>
                            <td>
                                <strong>{{activeCompany.NetWorkingCapital|currency:'':2}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Срок оборачиваемости дебиторов (дн.)</td>
                            <td>
                                {{activeCompany.DebtorsTurnoverTerm|currency:'':2}}
                            </td>
                        </tr>
                        <tr>
                            <td>Срок оборачиваемости ТМЗ (дн.)</td>
                            <td>
                                {{activeCompany.InventoriesTurnoverTerm|currency:'':2}}
                            </td>
                        </tr>
                        <tr>
                            <td>Срок оборачиваемости кредиторов (дн.)</td>
                            <td>
                                {{activeCompany.CreditorsTurnoverTerm|currency:'':2}}
                            </td>
                        </tr>
                        <tr>
                            <td>Операционный цикл (дн.)</td>
                            <td>
                                {{activeCompany.OperationCycle|currency:'':2}}
                            </td>
                        </tr>
                        <tr>
                            <td>Финансовый цикл (дн.)</td>
                            <td>
                                {{activeCompany.FinancialCycle|currency:'':2}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Показатели рентабельности, в %</strong></td>
                        </tr>
                        <tr>
                            <td>Валовая рентабельность</td>
                            <td>
                                <strong>{{activeCompany.GrossProfitability|currency:'':2}}%</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Рентабельность до уплаты %% и КПН</td>
                            <td>
                                {{activeCompany.ProfitabilityBeforeTaxes|currency:'':2}}%
                            </td>
                        </tr>
                        <tr>
                            <td>Чистая рентабельность</td>
                            <td>
                                {{activeCompany.NetProfitability|currency:'':2}}%
                            </td>
                        </tr>
                        <tr>
                            <td>Коэффициент покрытия %%</td>
                            <td>
                                {{activeCompany.CoverageRate|currency:'':2}}%
                            </td>
                        </tr>
                        <tr>
                            <td>ROE</td>
                            <td>
                                {{activeCompany.ROE|currency:'':2}}%
                            </td>
                        </tr>
                        <tr>
                            <td>ROA</td>
                            <td>
                                {{activeCompany.ROA|currency:'':2}}%
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Показатели финансовой устойчивости</strong></td>
                        </tr>
                        <tr>
                            <td>Отношение фин. долга к активам</td>
                            <td>
                                <strong>{{activeCompany.DebtAssetsRatio|currency:'':2}}%</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Доля собственного капитала в активах, (коэффициент автономии)</td>
                            <td>
                                {{activeCompany.AutonomyCoef|currency:'':2}}%
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Прочие показатели</strong></td>
                        </tr>
                        <tr>
                            <td>Скорость товарооборота</td>
                            <td>
                                {{activeCompany.TurnoverSpeedCoef|currency:'':2}}
                            </td>
                        </tr>

                        <tr>
                            <td>Коэффициент оборачиваемости запасов</td>
                            <td>
                                {{activeCompany.TurnoverInventoryCoef|currency:'':2}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Коэффициент собственного капитала №1</strong></td>
                            <td>
                                {{activeCompany.Equity1Coef|currency:'':2}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label>Изменение Собственного капитала</label>
                    <textarea type="text" class="form-control" placeholder="Комментарии по данной статье" ng-model="activeCompany.Comments"></textarea>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-condensed ng-table">
            <thead>
                <tr>
                    <th><span uib-tooltip="Актив">Актив</span></th>
                    <th ng-repeat="bal in activeCompany.CompanyBalances"><span uib-tooltip="{{bal.Date|date:'dd.MM.yyyy'}}">{{bal.Date|date:'dd.MM.yyyy'}}</span></th>
                    <th><span uib-tooltip="Пассив">Пассив</span></th>
                    <th ng-repeat="bal in activeCompany.CompanyBalances"><span uib-tooltip="{{bal.Date|date:'dd.MM.yyyy'}}">{{bal.Date|date:'dd.MM.yyyy'}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span uib-tooltip="Касса">Касса</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Assets.Checkout.Total|currency:'':2}}</td>
                    <td><span uib-tooltip="Счета к оплате">Счета к оплате</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Liabilities.PayableAccounts.Total|currency:'':2}}</td>
                </tr>

                <tr>
                    <td><span uib-tooltip="Расчетный счет">Расчетный счет</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Assets.CurrentAccount.Total|currency:'':2}}</td>
                    <td><span uib-tooltip="Частные займы (менее 12 мес.)">Част.займы(мен. 12 мес.)</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Liabilities.ShortPrivateLoans.Total|currency:'':2}}</td>
                </tr>
                <tr>
                    <td><span uib-tooltip="Сбережения">Сбережения</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Assets.Savings.Total|currency:'':2}}</td>
                    <td><span uib-tooltip="Банковский кредит (менее 12 месяцев)">Банк.кр.(мен. 12 мес.)</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Liabilities.ShortCredit.Total|currency:'':2}}</td>
                </tr>
                <tr>
                    <td><span uib-tooltip="Депозит">Депозит</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Assets.Deposit.Total|currency:'':2}}</td>
                    <td><span uib-tooltip="Прочие текущие задолженности">Прочие тек.зад-ти</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Liabilities.OtherCurrentDebt.Total|currency:'':2}}</td>
                </tr>
                <tr>
                    <td><strong uib-tooltip="Ликвидные средства">Ликвидные средства</strong></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.LiquidAssets|currency:'':2}}</td>
                    <td><strong uib-tooltip="Итого краткосрочная задолженность">Итого кр.-сроч. зад-ть</strong></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.TotalShortTermDebt|currency:'':2}}</td>
                </tr>
                <tr>
                    <td><span uib-tooltip="Дебиторская задолженность">Дебиторская задолженность</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Assets.Recievables.Total|currency:'':2}}</td>
                    <td><span uib-tooltip="Частные займы (более 12 мес.)">Част.займы(бол. 12 мес.)</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Liabilities.LongPrivateLoans.Total|currency:'':2}}</td>
                </tr>
                <tr>
                    <td><span uib-tooltip="Прочая дебиторская задолженность">Проч. деб. задолженность</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Assets.OtherRecievables.Total|currency:'':2}}</td>
                    <td><span uib-tooltip="Банковский кредит (более 12 месяцев)">Банк.кр.(бол. 12 мес.)</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Liabilities.LongCredit.Total|currency:'':2}}</td>
                </tr>
                <tr>
                    <td><strong uib-tooltip="Дебиторская задолженность">Дебиторская задолженность</strong></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Receivables|currency:'':2}}</td>
                    <td><span uib-tooltip="Прочие пассивы">Прочие пассивы</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Liabilities.OtherLiabilities.Total|currency:'':2}}</td>
                </tr>
                <tr>
                    <td><strong uib-tooltip="ТМЗ">ТМЗ</strong></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Inventories|currency:'':2}}</td>
                    <td><strong uib-tooltip="Итого долгосрочная задолженность">Итого долгосрочная задолженность</strong></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.TotalLongTermDebt|currency:'':2}}</td>
                </tr>
                <tr>
                    <td><strong uib-tooltip="Всего оборотных средств">Всего оборотных средств</strong></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.TotalCurrentAssets|currency:'':2}}</td>
                    <td></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances"></td>
                </tr>
                <tr>
                    <td><span uib-tooltip="Оборудование">Оборудование</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Assets.Hardware.Total|currency:'':2}}</td>
                    <td><strong uib-tooltip="Всего кредиторская задолженность">Всего кредиторская задолженность</strong></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.TotalLongAccountsPayable|currency:'':2}}</td>
                </tr>
                <tr>
                    <td><span uib-tooltip="Автотранспорт">Автотранспорт</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Assets.MotorTransport.Total|currency:'':2}}</td>
                    <td></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances"></td>
                </tr>
                <tr>
                    <td><span uib-tooltip="Недвижимость">Недвижимость</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Assets.RealEstate.Total|currency:'':2}}</td>
                    <td></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances"></td>
                </tr>
                <tr>
                    <td><strong uib-tooltip="Всего основных средств">Всего основных средств</strong></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.TotalFixedAssets|currency:'':2}}</td>
                    <td><strong uib-tooltip="Собственный капитал">Собственный капитал</strong></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Equity|currency:'':2}}</td>
                </tr>
                <tr>
                    <td><span uib-tooltip="Инвестиции">Инвестиции</span></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Assets.Investments.Total|currency:'':2}}</td>
                    <td></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances"></td>
                </tr>
                <tr>
                    <td><strong uib-tooltip="ИТОГО">ИТОГО:</strong></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.TotalAssets|currency:'':2}}</td>
                    <td><strong uib-tooltip="ИТОГО">ИТОГО:</strong></td>
                    <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.TotalLiabilities|currency:'':2}}</td>
                </tr>
            </tbody>
        </table>

        <div class="panel panel-primary">
            <div class="panel-heading">
                ВЫНЕСЕНО ЗА БАЛАНС
                <div class="clearfix "></div>
            </div>
            <div class="panel-body">
                <div class="col-md-6 panel-table">
                    <button class="btn btn-primary btn-xs header-button" ng-click="addNewOutRow('OutAssets');"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <table class="table table-bordered table-condensed ng-table">
                        <thead>
                            <tr>
                                <th><span uib-tooltip="ВЫНЕСЕНО ЗА БАЛАНС Актив">ВЫНЕСЕНО ЗА БАЛАНС<br />Актив</span></th>
                                <th ng-repeat="bal in activeCompany.CompanyBalances"><span uib-tooltip="{{bal.Date|date:'dd.MM.yyyy'}}">{{bal.Date|date:'dd.MM.yyyy'}}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="outAsset in outBalanceAssets | filter:checkOutAssets">
                                <td><span uib-tooltip="{{outAsset.name}}">{{outAsset.name}}</span></td>
                                <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Assets[outAsset.varName].OutTotal|currency:'':2}}</td>
                            </tr>
                            <tr ng-repeat="outAsset in activeBalance.OutAssets"  ng-right-click="clickRightTableRow(activeBalance.OutAssets, outAsset.Id,'OutAssets')" menu-items="menuOutItems">
                                <td ng-model="outAsset.Name" content-editable edit-callback="outNameChanged('OutAssets', outAsset)"></td>
                                <td ng-repeat="bal in activeCompany.CompanyBalances" ng-model="bal.OutAssets[outAsset.Id-1].Sum" editable-filter="'currency'" content-editable edit-callback="calculateBalance(bal, activeCompany.Id)"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><span uib-tooltip="ИТОГО">ИТОГО:</span></td>
                                <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.OutTotalAssets|currency:'':2}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-md-6 panel-table">
                    <button class="btn btn-primary btn-xs header-button" ng-click="addNewOutRow('OutLiabilities');"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <table class="table table-bordered table-condensed ng-table">
                        <thead>
                            <tr>
                                <th><span uib-tooltip="ВЫНЕСЕНО ЗА БАЛАНС Пассив">ВЫНЕСЕНО ЗА БАЛАНС<br />Пассив</span></th>
                                <th ng-repeat="bal in activeCompany.CompanyBalances"><span uib-tooltip="{{bal.Date|date:'dd.MM.yyyy'}}">{{bal.Date|date:'dd.MM.yyyy'}}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="outLiability in outBalanceLiabilities | filter:checkOutLiabilities">
                            <td><span uib-tooltip="{{outLiability.name}}">{{outLiability.name}}</span></td>
                            <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.Liabilities[outLiability.varName].OutTotal|currency:'':2}}</td>
                        </tr>
                            <tr ng-repeat="outLiability in activeBalance.OutLiabilities" ng-right-click="clickRightTableRow(activeBalance.OutLiabilities, outLiability.Id, 'OutLiabilities')" menu-items="menuOutItems">
                                <td ng-model="outLiability.Name" content-editable edit-callback="outNameChanged('OutLiabilities', outLiability)"></td>
                                <td ng-repeat="bal in activeCompany.CompanyBalances" ng-model="bal.OutLiabilities[outLiability.Id-1].Sum" editable-filter="'currency'" content-editable edit-callback="calculateBalance(bal, activeCompany.Id)"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><span uib-tooltip="ИТОГО">ИТОГО:</span></td>
                                <td ng-repeat="bal in activeCompany.CompanyBalances">{{bal.OutTotalLiabilities|currency:'':2}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <!-- CHECKOUT -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/Checkout.html'"></ng-include>

        <!-- CurrentAccount -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/CurrentAccount.html'"></ng-include>

        <!-- SavingsDeposit -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/SavingsDeposit.html'"></ng-include>

        <!-- RecievableAccounts -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/RecievableAccounts.html'"></ng-include>

        <!-- OtherRecievables -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/OtherRecievables.html'"></ng-include>

        <!--TransitGoods-->
        <!--<ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/TransitGoods.html'"></ng-include>-->

        <!--SuppliersPrepayment-->
        <!--<ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/SuppliersPrepayment.html'"></ng-include>-->

        <!-- Inventories 'FinishedGoods', 'RawMaterials', SemiProducts',-->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/Inventories.html'"></ng-include>

        <!-- ForSaleGoods -->
        <!--<ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/ForSaleGoods.html'"></ng-include>-->

        <!-- Hardware -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/Hardware.html'"></ng-include>

        <!-- MotorTransport -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/MotorTransport.html'"></ng-include>

        <!-- RealEstate -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/RealEstate.html'"></ng-include>

        <!-- Investments -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/Investments.html'"></ng-include>



        <!-- BudgetSettlements -->
        <!--<ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/BudgetSettlements.html'"></ng-include>-->

        <!-- RentalsArrears -->
        <!--<ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/RentalsArrears.html'"></ng-include>-->

        <!-- ShortTermDebt -->
        <!--<ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/ShortTermDebt.html'"></ng-include>-->

        <!-- PayableAccounts -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/PayableAccounts.html'"></ng-include>

        <!-- CommodityLoan -->
        <!--<ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/CommodityLoan.html'"></ng-include>-->

        <!-- CustomersPrepayment -->
        <!--<ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/CustomersPrepayment.html'"></ng-include>-->

        <!-- ShortPrivateLoans -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/ShortPrivateLoans.html'"></ng-include>

        <!-- ShortWorkingCapitalCredit -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/ShortWorkingCapitalCredit.html'"></ng-include>

        <!-- ShortFixedAssetsCredit -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/ShortFixedAssetsCredit.html'"></ng-include>

        <!-- OtherCurrentDebt -->
        <!--<ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/OtherCurrentDebt.html'"></ng-include>-->

        <!-- LongPrivateLoans -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/LongPrivateLoans.html'"></ng-include>

        <!-- LongWorkingCapitalCredit -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/LongWorkingCapitalCredit.html'"></ng-include>

        <!-- LongFixedAssetsCredit -->
        <!--<ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/LongFixedAssetsCredit.html'"></ng-include>-->

        <!-- OtherLiabilities -->
        <ng-include src="'/Blitz/PartialViews/FinDataBalanceTables/OtherLiabilities.html'"></ng-include>

    </div>
</div>