<div class="container" ng-controller="loginController">
    <div class="row">
        <span us-spinner spinner-key="spinner-1" spinner-start-active="false"></span>
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Авторизация</h3>
                </div>
                <div class="panel-body">
                    <form role="form" name="loginForm" novalidate>
                        <div class="form-group" ng-class="{ true: 'has-error'}[loginForm.login.$invalid && (loginForm.login.$touched || submitted)]">
                            <input class="form-control input-lg" id="login" name="login" placeholder="Логин" ng-model="Login" type="text" ng-maxlength="32" autofocus required>
                            <div class="help-block" ng-messages="loginForm.login.$error" ng-if="loginForm.login.$touched || submitted">
                                <div ng-message="required">Поле должно быть заполнено</div>
                                <div ng-message="maxlength">Логин должен быть менее 32 символов</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ true: 'has-error'}[loginForm.userPassword.$invalid && (loginForm.userPassword.$touched || submitted)]">
                            <input class="form-control input-lg" id="password" name="userPassword" placeholder="Пароль" ng-model="Password" type="password" minlength="6" ng-maxlength="30" required>
                            <div class="help-block" ng-messages="loginForm.userPassword.$error" ng-if="loginForm.userPassword.$touched || submitted">
                                <div ng-message="required">Поле "Пароль" должно быть заполнено</div>
                                <div ng-message="minlength">Поле "Пароль" должно быть длиннее 6 символов </div>
                                <div ng-message="maxlength">Поле "Пароль" должно быть менее 30 символов</div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                    <input name="remember" type="checkbox" ng-model="rememberMe" value="Remember Me">Запомнить меня
                                </label>

                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <a ng-disabled="isLogin" ng-click="loginUser()" class="btn btn-lg btn-success btn-block">Вход</a>
                        <!--<span us-spinner spinner-key="spinner-2"></span>-->

                        <!--<a ng-click="registrationUser()" class="btn btn-lg btn-primary btn-block">Регистрация</a>
                        <a ng-click="restoreUser()">Забыли пароль?</a>-->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>