<div ng-controller="projectAnalysisController">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div>При анализе инвестиционных проектов требуется составление плана финансирования
                </div>
                <div class="panel panel-primary">

                    <div class="panel-heading">Полная стоимость проекта</div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-8">Полная стоимость (исключая ПОС) </label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.FullExpensesExcludePos">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Собственный Капитал</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="currentProject.ProjectAnalysis.SK">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-8">Заемный капитал</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.ZK">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Собственный Капитал %</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="currentProject.ProjectAnalysis.SKPercent">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-8">Заемный капитал %</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.ZKPercent">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Альтернативная ставка</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.AlternativeBid">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-8">Кредитная ставка</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.CreditBid">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Средневзвешенная стоимость капитала</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.SSK">
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Сроки ввода проекта в эксплуатацию</div>


                    <div class="panel-body">
                        <div class="form-group">
                            <label>Описание</label>
                            <textarea type="text" class="form-control" placeholder="Сроки" ng-model="currentProject.ProjectAnalysis.ProjectTerms"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Прогноз ОПиУ</div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-8">Ожидаемая выручка</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="currentProject.ProjectAnalysis.ExpectedRevenue">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Наценка</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="currentProject.ProjectAnalysis.ExtraCharge">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-8">Себестоимость</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="currentProject.ProjectAnalysis.SelfCost">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Валовая прибыль</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.AGrossProfit">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Переменные затраты</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="currentProject.ProjectAnalysis.VariableCosts">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Постоянные затраты</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="currentProject.ProjectAnalysis.FixedCosts">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Прибыль по проекту</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.ProfitForTheProject">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Рентабельность продаж</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.SalesProfitability">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Срок окупаемости проекта</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.PaybackPeriod">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">ARR</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.ARR">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Точка безубыточности</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.BreakevenPoint">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Запас прочности</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.MarginOfSafety">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>