<div ng-controller="projectAnalysisController">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div>При анализе инвестиционных проектов требуется составление плана финансирования
                </div>
                <div class="panel panel-primary">

                    <div class="panel-heading">Инвестиционный проект</div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-8">Наименование инвестиционного проекта </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="currentProject.ProjectAnalysis.InvestmentProjectName">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label class="col-sm-8">Размер собственных средств (исключая ПОС и прочие расходы) </label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" format="currency" ng-model="currentProject.FinancePlanning.WoPosOwnResources">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-8">Размер заемных средств (исключая ПОС и прочие расходы) </label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" format="currency" ng-model="currentProject.FinancePlanning.WoPosBorrowedResources">
                            </div>

                        </div>
                        <br/>
                        <div class="form-group">
                            <label class="col-sm-8">Полная стоимость (исключая ПОС и прочие расходы) </label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" format="currency" ng-model="currentProject.FinancePlanning.WoPosTotalResources">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Альтернативная ставка инвестирования (ставка вознаграждения при вложении средств на депозит)</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.ProjectAnalysis.AlternativeBid" ng-change="calculateProjectAnalysis()">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-8">Ставка вознаграждения по кредиту (предлагаемая ставка кредитования на данный инвестиционный проект)</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.01" class="form-control" ng-model="currentProject.ProjectAnalysis.CreditBid" ng-change="calculateProjectAnalysis()">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Средневзвешенная стоимость капитала, %</label>
                            <div class="col-sm-4">
                                <input type="number" disabled class="form-control" ng-model="currentProject.ProjectAnalysis.SSK">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-8">Сроки ввода в проекта эксплуатацию</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="currentProject.ProjectAnalysis.ProjectTerms">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        
    <div class="panel panel-primary">
        <div class="panel-heading">
            Ожидаемая выручка (при выходе проекта на планируемую мощность)
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <button class="btn btn-primary btn-xs header-button" ng-click="showNewExpectedRevenue();"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="expRevCollection" st-safe-src="currentProject.ProjectAnalysis.ExcpectedRevenues" class="table table-bordered table-condensed ng-table">
                <thead>
                <tr>
                    <th><span uib-tooltip="Вид дохода (например: кухня, бар, бильярд)">Доход</span></th>
                    <th><span uib-tooltip="Ожидаемая месячная выручка по данному виду дохода">Выручка</span></th>
                    <th><span uib-tooltip="В течение скольки месяцев с момента ввода в эксплуатацию будет достигнута планируемая выручка. Указать число, например, 5">План, мес</span></th>
                    <th><span uib-tooltip="Динамика выручки до момента выхода на планируемую мощность">Динамика выручки</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in expRevCollection" ng-right-click="clickExpectedRevenue(row.Id)" menu-items="menuItems">
                    <td ng-model="row.Income" content-editable></td>
                    <td ng-model="row.Revenue" editable-filter="'currency'" content-editable edit-callback="calculateProjectAnalysis()"></td>
                    <td ng-model="row.ReachTerm" content-editable edit-callback="createRevenueDynamics(text, text2, row)"></td>
                    <td style="padding: 0">
                        <table>
                            <tbody style="padding: 0">
                                <tr>
                                    <td ng-repeat="mCell in row.RevenueDynamics track by mCell.Id" ng-model="mCell.Revenue" editable-filter="'currency'" content-editable></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
        
    <div class="panel panel-primary">
        <div class="panel-heading">
            Наценка (маржа) (в случае если проект реализуется в сфере услуг (чистые услуги), например: химчистка, гостиница и т.д., то наценку указывать как 0)
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <table st-table="expRevCollection" st-safe-src="currentProject.ProjectAnalysis.ExcpectedRevenues" class="table table-bordered table-condensed ng-table">
                <thead>
                <tr>
                    <th><span uib-tooltip="Вид дохода">Доход</span></th>
                    <th><span uib-tooltip="Обоснование данного размера наценки, текст">Обоснование</span></th>
                    <th><span uib-tooltip="Ожидаемый размер наценки, %">Наценка, %</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in expRevCollection">
                    <td>{{row.Income}}</td>
                    <td ng-model="row.Justification" content-editable></td>
                    <td ng-model="row.Markup" content-editable edit-callback="calculateProjectAnalysis()"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
        
    <div class="panel panel-primary">
        <div class="panel-heading">
            Себестоимость
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <table st-table="expRevCollection" st-safe-src="currentProject.ProjectAnalysis.ExcpectedRevenues" class="table table-bordered table-condensed ng-table">
                <thead>
                <tr>
                    <th><span uib-tooltip="Вид дохода">Доход</span></th>
                    <th><span uib-tooltip="Ожидаемая себестоимость">Ожидаемая себестоимость</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in expRevCollection">
                    <td>{{row.Income}}</td>
                    <td>{{row.Costprice | currency:'':2}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
        
        
    <div class="panel panel-primary">
        <div class="panel-heading">
            Переменные затраты
            <div class="clearfix "></div>
        </div>

        <div class="panel-body">
            <button class="btn btn-primary btn-xs header-button" ng-click="showNewVarExpenses();"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="varExpCollection" st-safe-src="currentProject.ProjectAnalysis.VarExpenses" class="table table-bordered table-condensed ng-table">
                <thead>
                <tr>
                    <th><span uib-tooltip="Вид переменных затрат">Вид затрат</span></th>
                    <th><span uib-tooltip="Обоснование расчета, текст">Обоснование</span></th>
                    <th><span uib-tooltip="Сумма">Сумма</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in varExpCollection" ng-right-click="clickVarExpenses(row.Id)" menu-items="menuItems">
                    <td ng-model="row.Type" content-editable></td>
                    <td ng-model="row.Justification" content-editable></td>
                    <td ng-model="row.Sum" editable-filter="'currency'" content-editable edit-callback="calculateProjectAnalysis()"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            Постоянные затраты
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <button class="btn btn-primary btn-xs header-button" ng-click="showNewConstExpenses();"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="constExpCollection" st-safe-src="currentProject.ProjectAnalysis.ConstExpenses" class="table table-bordered table-condensed ng-table">
                <thead>
                <tr>
                    <th><span uib-tooltip="Вид постоянных затрат">Вид затрат</span></th>
                    <th><span uib-tooltip="Обоснование расчета, текст">Обоснование</span></th>
                    <th><span uib-tooltip="Сумма">Сумма</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in constExpCollection" ng-right-click="clickConstExpenses(row.Id)" menu-items="menuItems">
                    <td ng-model="row.Type" content-editable></td>
                    <td ng-model="row.Justification" content-editable></td>
                    <td ng-model="row.Sum" editable-filter="'currency'" content-editable edit-callback="calculateProjectAnalysis()"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Прогноз ОПиУ</div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-8">Прибыль по проекту</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.ProfitForTheProject">
                            </div>

                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-8">Ожидаемая выручка</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.ExpectedRevenue">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Планируемый совокупный взнос по кредитам на данный инвестиционный проект (включая вознаграждение и основной долг)</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="currentProject.FinancePlanning.MonthlyFee" disabled>
                            </div>

                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-8">Коэффициент рентабельности продаж, %</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.SalesProfitability">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Срок окупаемости проекта, мес</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.PaybackPeriod">
                            </div>

                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-8">Срок полного возврата инвестиций, мес.</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.InvestmentBackPeriod">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">ARR (учетная ставка доходности), %</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.ARR">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Точка безубыточности</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.BreakevenPoint">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-8">Запас прочности, %</label>
                            <div class="col-sm-4">
                                <input type="number" readonly class="form-control" ng-model="currentProject.ProjectAnalysis.MarginOfSafety">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Комментарии</label>
                            <div class="col-sm-8"><textarea type="text" class="form-control" placeholder="Комментарии" ng-model="currentProject.ProjectAnalysis.Comments"></textarea></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>