<div ng-controller="provisionController">


    <div class="panel panel-primary">
        <div class="panel-heading">
            Обеспечение по предлагаемому банковскому займу/кредитной линии
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <button class="btn btn-primary pull-left btn-xs header-button" ng-click="addNewRow(currentProject.Provision.Deposits);"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="dpsCollection" st-safe-src="currentProject.Provision.Deposits"
                   class="table table-bordered table-condensed ng-table">
                <thead>
                    <tr>
                        <th><span uib-tooltip="Наименование">Наименование</span></th>
                        <th><span uib-tooltip="Описание">Описание</span></th>
                        <th><span uib-tooltip="Владелец">Владелец</span></th>
                        <th><span uib-tooltip="Местонахождение">Местонахождение</span></th>
                        <th><span uib-tooltip="Рыночная стоимость">Рыночная<br />стоимость</span></th>
                        <th><span uib-tooltip="Залоговая стоимость">Залоговая<br />стоимость</span></th>
                        <th><span uib-tooltip="Коэффициент ликвидности">Коэффициент<br />ликвидности</span></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in dpsCollection" 
                    ng-right-click="clickRightTableRow(currentProject.Provision.Deposits, row.Id)" menu-items="menuItems">
                        <td>
                            <select ng-options="item as item.Name for item in provisionTypes track by item.Id"
                                    ng-model="row.Name"
                                    ng-change="calculateDeposits()"></select>
                        </td>
                        <td ng-model="row.Owner" content-editable></td>
                        <td ng-model="row.Location" content-editable></td>
                        <td ng-model="row.OwnerCompanyName" content-editable></td>
                        <td ng-model="row.MarketPrice" editable-filter="'currency'" content-editable></td>
                        <td ng-model="row.AssessedPrice" editable-filter="'currency'" content-editable edit-callback="calculateDeposits()"></td>
                        <td ng-model="row.LiquidityRatio" content-editable></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2">Итого</td>
                        <td>{{currentProject.Provision.DepositsTotal | currency:'':2}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2">Итого без гарантий ДАМУ</td>
                        <td>{{currentProject.Provision.DepositsWODamuTotal | currency:'':2}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2">Сумма обязательств</td>
                        <td>{{currentProject.FinancePlanning.ProposedSum | currency:'':2}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2">Покрытие, %</td>
                        <td>{{currentProject.Provision.DepositsRatio | currency:'':2}}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            В случае, если предоставляемое залоговое обеспечение выступает по иным обязательствам, необходимо привести расчет достаточности залогового обеспечения на основании предоставленных справок из Банка об остатке ОД.
            <div class="clearfix "></div>
        </div>

        <div class="panel-body panel-table">
            <button class="btn btn-primary btn-xs header-button" ng-click="addNewRow(currentProject.Provision.ActiveLiabilities);"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="alsCollection" st-safe-src="currentProject.Provision.ActiveLiabilities"
                   class="table table-bordered table-condensed ng-table">
                <thead>
                <tr>
                    <th><span uib-tooltip="Наименование СПЧ">Наименование СПЧ</span></th>
                    <th><span uib-tooltip="Лимит финансирования (перечислить ДБЗ/СОКЛ по действующим займам/Предполагаемые займы)">Лимит финансирования</span></th>
                    <th><span uib-tooltip="Основной долг">Основной долг</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in alsCollection" ng-right-click="clickRightTableRow(currentProject.Provision.ActiveLiabilities, row.Id)" menu-items="menuItems">
                    <td ng-model="row.Name" content-editable></td>
                    <td ng-model="row.Limit" content-editable></td>
                    <td ng-model="row.Sum" editable-filter="'currency'" content-editable edit-callback="calculateLiabilities()"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Итого</td>
                    <td>{{currentProject.Provision.ActiveLiabilitiesTotal | currency:'':2}}</td>
                </tr>
                </tfoot>
            </table>
            
            <button class="btn btn-primary btn-xs header-button" ng-click="addNewRow(currentProject.Provision.ActiveDeposits);"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table st-table="adsCollection" st-safe-src="currentProject.Provision.ActiveDeposits"
                   class="table table-bordered table-condensed ng-table">
                <thead>
                <tr>
                    <th><span uib-tooltip="Наименование">Наименование</span></th>
                    <th><span uib-tooltip="Описание (площадь, адрес)">Описание</span></th>
                    <th><span uib-tooltip="Отношение к ОБЗ/ВКЛ/НКЛ">Отношение к ОБЗ/ВКЛ/НКЛ</span></th>
                    <th><span uib-tooltip="Залоговая стоимость">Залоговая стоимость</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in adsCollection" ng-right-click="clickRightTableRow(currentProject.Provision.ActiveDeposits, row.Id)" menu-items="menuItems">
                    <td>
                        <select ng-options="item as item.Name for item in provisionTypes track by item.Id"
                                ng-model="row.Name"
                                ng-change="calculateLiabilities()"></select>
                    </td>
                    <td ng-model="row.Description" content-editable></td>
                    <td ng-model="row.Relation" content-editable></td>
                    <td ng-model="row.AssessedPrice" editable-filter="'currency'" content-editable edit-callback="calculateLiabilities()"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Итого без гарантий ДАМУ</td>
                    <td>{{currentProject.Provision.ActiveDepositsWoDamuTotal | currency:'':2}}</td>
                </tr>
                </tfoot>
            </table>
            <div>Коэффициент покрытия обязательств залоговым обеспечением составляет {{currentProject.Provision.ActiveDepositsRatio | currency:'':2}}%</div>
        </div>
    </div>

</div>