<div ng-controller="templateDetailsController">

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading"> Общие настройки</div>
            <div class="panel-body">
                <div class="form-inline">
                    <label>Имя</label>
                    <input type="text" size="32" class="form-control" ng-model="template.Name">
                </div>

                <div class="form-inline">
                    <label>Описание</label>
                    <input type="text" size="32" class="form-control" ng-model="template.Description">
                </div>
            </div>
            <div class="panel-footer" ng-show="isChanged">
                <button type="button" class="btn btn-success btn-block" ng-click="save()">Сохранить</button>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading"> Страницы <button class="btn btn-primary pull-right" ng-click="addNewSheetView();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">

            </div>

        </div>
    </div>

</div>
</div>