<div>
    <div class="create-modal-header">
        <h3 class="modal-title">
            Проект
        </h3>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <form class="form-horizontal" name="projectForm" id="projectForm" role="form" data-toggle="validator">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Наименование проекта<i class="red-star">*</i></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Заявка №1 " maxlength="270" data-error="Наименование должно быть заполнено" ng-model="mElement.Name" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="exampleSelect2">Клиент</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="Введите БИН/ИИН"
                                   ng-maxlength="mElement.ProjectSetting.SelectedClient.Id?300:14"
                                   ng-model="mElement.ProjectSetting.SelectedClient"
                                   ng-model-options="vm.modelOptions"
                                   uib-typeahead="client.Name for client in mElement.ProjectSetting.Clients"
                                   typeahead-loading="loadingClients" typeahead-no-results="noResults"
                                   typeahead-wait-ms ="500"
                                   typeahead-select-on-blur ="true"
                                   typeahead-select-on-exact ="true"
                                   typeahead-on-select="selectClient($item, $model, $label)"
                                   class="form-control" ng-change="selectClient()">
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> Не найдено результатов
                            </div>
                            <div ng-show>
                                
                            </div>
                            <!--<select class="form-control" ng-options="client.Name for client in mElement.ProjectSetting.Clients track by client.Id" ng-model="mElement.ProjectSetting.SelectedClient" ng-change="selectClient()"></select>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="exampleSelect2">Предыдущие проекты</label>
                        <div class="col-sm-9">
                            <label ng-if="mElement.ParentExists">По данному клиенту найдены предыдущие периоды. (повторное обращение)</label>
                            <!--{{mElement.ParentProject.ProjectSetting.StartMonth}}{{mElement.ParentProject.ProjectSetting.StartYear}}-{{mElement.ParentProject.ProjectSetting.EndMonth}}.{{mElement.ParentProject.ProjectSetting.EndYear}}-->
                            <label ng-if="!mElement.ParentExists">По данному клиенту не найдено ни одного периода (первое обращение)</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Курс $<i class="red-star">*</i></label>
                        <div class="col-sm-9">
                            <input type="number" step="0.01" class=" form-control " placeholder="325 " maxlength="270 " data-error="Поле должно быть заполнено " ng-model="mElement.DollarRate " required>
                            <div class="help-block with-errors "></div>
                        </div>
                    </div>

                    <br/>
                    <div class="form-group ">
                        <div class="form-group col-sm-11 text-right ">
                            <!-- Indicates a successful or positive action -->
                            <button type="submit " class="btn btn-success " ng-click="vm.confirm() ">Сохранить</button>
                            <button type="button " class="btn btn-danger " ng-click="vm.cancel(); ">Отмена</button>
                        </div>
                    </div>
                </form>
                <hr/>
                <div>
                    <p class="form-description-text ">Поля обозначеннные знаком <i class="red-star ">*</i> обязательны для заполнения</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#projectForm').validator({
        disable: false
    });
</script>