<div>
    <div class="create-modal-header">
        <h3 class="modal-title">
            Проект
        </h3>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <form class="form-horizontal" name="projectForm" id="projectForm" role="form" data-toggle="validator">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Наименование проекта<i class="red-star">*</i></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Заявка №1 " maxlength="270" data-error="Наименование должно быть заполнено" ng-model="mElement.Name" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="exampleSelect2">Клиент</label>
                        <div class="col-sm-9">
                            <select class="form-control" ng-options="client.Name for client in mElement.ProjectSetting.Clients track by client.Id" ng-model="mElement.ProjectSetting.SelectedClient" ng-change="selectClient()"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="exampleSelect2">Предыдущие проекты</label>
                        <div class="col-sm-9">
                            <label ng-if="mElement.ParentExists">По данному клиенту найдены предыдущие периоды {{mElement.ParentProject.ProjectSetting.StartMonth}}.{{mElement.ParentProject.ProjectSetting.StartYear}}-{{mElement.ParentProject.ProjectSetting.EndMonth}}.{{mElement.ParentProject.ProjectSetting.EndYear}} (повторное обращение)</label>
                            <label ng-if="!mElement.ParentExists">По данному клиенту не найдено ни одного периода (первое обращение)</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="exampleSelect2">Начало периода</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-options="startMonth for startMonth in mElement.ProjectSetting.StartDates.Months track by startMonth" ng-model="mElement.ProjectSetting.StartMonth"></select>
                        </div>

                        <div class="col-sm-3">
                            <select class="form-control" ng-options="startYear for startYear in mElement.ProjectSetting.StartDates.Years track by startYear" ng-model="mElement.ProjectSetting.StartYear"></select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="exampleSelect2">Конец периода</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-options="endMonth for endMonth in mElement.ProjectSetting.EndDates.Months track by endMonth" ng-model="mElement.ProjectSetting.EndMonth"></select>
                        </div>

                        <div class="col-sm-3">
                            <select class="form-control" ng-options="endYear for endYear in mElement.ProjectSetting.EndDates.Years track by endYear" ng-model="mElement.ProjectSetting.EndYear"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Процентная ставка<i class="red-star">*</i></label>
                        <div class="col-sm-9">
                            <input type="number" step="0.01" class=" form-control " placeholder="12 " maxlength="270 " data-error="Поле должно быть заполнено " ng-model="mElement.PercentBid " required>
                            <div class="help-block with-errors "></div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-3 control-label ">Альтернативная ставка<i class="red-star ">*</i></label>
                        <div class="col-sm-9 ">
                            <input type="number " step="0.01" class="form-control" placeholder="10" maxlength="270" data-error="Поле должно быть заполнено" ng-model="mElement.AlternateBid" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Курс $<i class="red-star">*</i></label>
                        <div class="col-sm-9">
                            <input type="number" step="0.01" class=" form-control " placeholder="325 " maxlength="270 " data-error="Поле должно быть заполнено " ng-model="mElement.DollarRate " required>
                            <div class="help-block with-errors "></div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-3 control-label ">Дата Баланса<i class="red-star ">*</i></label>
                        <div class="col-sm-9 ">
                            <input type="date" class="form-control " data-error="Поле должно быть заполнено " ng-model="mElement.BalanceDate " required>
                            <div class="help-block with-errors "></div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-9 control-label ">Выберите вид(ы) деятельности</label>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-3 control-label ">Услуги</label>
                        <div class="col-sm-9 ">
                            <input type="checkbox" ng-model="mElement.ActivityService ">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-3 control-label ">Торговля</label>
                        <div class="col-sm-9 ">
                            <input type="checkbox" ng-model="mElement.ActivityTrade ">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-3 control-label ">С/Х</label>
                        <div class="col-sm-9 ">
                            <input type="checkbox" ng-model="mElement.ActivityAgriculture ">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-3 control-label ">Производство</label>
                        <div class="col-sm-9 ">
                            <input type="checkbox" ng-model="mElement.ActivityProduction ">
                        </div>
                    </div>

                    </br>
                    <div class="form-group ">
                        <div class="form-group col-sm-11 text-right ">
                            <!-- Indicates a successful or positive action -->
                            <button type="submit " class="btn btn-success " ng-click="vm.confirm() ">Сохранить</button>
                            <button type="button " class="btn btn-danger " ng-click="vm.cancel(); ">Отмена</button>
                        </div>
                    </div>
                </form>
                <hr/>
                <div>
                    <p class="form-description-text ">Поля обозначеннные знаком <i class="red-star ">*</i> обязательны для заполнения</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#projectForm').validator({
        disable: false
    });
</script>