<div>

    <div class="create-modal-header">
        <h3 class="modal-title">
            Инвестиции
        </h3>

    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <form class="form-horizontal" name="investmentForm" id="investmentForm" role="form" data-toggle="validator">


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Наименование расхода<i class="red-star">*</i></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-error="Наименование должно быть заполнено" ng-model="mElement.Name" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Сумма<i class="red-star">*</i></label>
                        <div class="col-sm-9">
                            <input type="number" step="0.01" class="form-control" data-error="Сумма должна быть заполнена" ng-model="mElement.Sum" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Дата<i class="red-star">*</i></label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" data-error="Укажите дату" ng-model="mElement.Date" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group col-sm-11 text-right">
                            <!-- Indicates a successful or positive action -->
                            <button type="submit" class="btn btn-success" ng-click="vm.confirm()">Сохранить</button>
                            <button type="button" class="btn btn-danger" ng-click="vm.cancel();">Отмена</button>
                        </div>
                    </div>
                </form>
                <hr/>
                <div>
                    <p class="form-description-text">Поля обозначеннные знаком <i class="red-star">*</i> обязательны для заполнения</p>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $('#investmentForm').validator({
        disable: false
    });
</script>