<div class="panel panel-primary">
    <div class="panel-heading">
        Расчеты с бюджетом
        <div class="clearfix "></div>
    </div>

    <div class="panel-body panel-table">
        <button class="btn btn-primary btn-xs header-button" ng-click="addNewRow(activeBalance.Liabilities.BudgetSettlements.Rows);"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <table st-table="activeBalance.Liabilities.BudgetSettlements.Rows" class="table table-bordered table-condensed ng-table">
            <thead>
                <tr>
                    <th st-sort="Name"><span uib-tooltip="Наименование статьи">Статья</span></th>
                    <th st-sort="Sum"><span uib-tooltip="Сумма">Сумма</span></th>
                    <th st-sort="ArrearsDate"><span uib-tooltip="Дата возникновения">Дата возникновения</span></th>
                    <th st-sort="MaturityDate"><span uib-tooltip="Дата погашения">Дата погашения</span></th>
                    <th st-sort="Notes"><span uib-tooltip="Примечания">Примечания</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in activeBalance.Liabilities.BudgetSettlements.Rows" ng-right-click="clickRightTableRow(activeBalance.Liabilities.BudgetSettlements.Rows, row.Id)" menu-items="menuItems">
                    <td ng-model="row.Name" content-editable></td>
                    <td ng-model="row.Sum" content-editable edit-callback="calculateBalance(activeBalance, activeCompany.Id)"></td>
                    <td><input type="date" ng-model="row.ArrearsDate"></td>
                    <td><input type="date" ng-model="row.MaturityDate"></td>
                    <td ng-model="row.Notes" content-editable></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>