<div class="panel panel-primary">
    <div class="panel-heading">
        Автотранспорт
        <div class="clearfix "></div>
    </div>

    <div class="panel-body panel-table">
        <button class="btn btn-primary btn-xs header-button" ng-click="addNewRow(activeBalance.Assets.MotorTransport.Rows);"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <table st-table="activeBalance.Assets.MotorTransport.Rows" class="table table-bordered table-condensed ng-table">
            <thead>
                <tr><th colspan="9">Автотранспорт</th></tr>
                <tr>
                    <th st-sort="Name"><span uib-tooltip="Марка, модель">Марка, модель</span></th>
                    <th st-sort="ProdYear"><span uib-tooltip="Год выпуска">Год выпуска</span></th>
                    <th st-sort="License"><span uib-tooltip="Гос. номер">Гос. номер</span></th>
                    <th st-sort="Color"><span uib-tooltip="Цвет">Цвет</span></th>
                    <th st-sort="Quantity"><span uib-tooltip="Количество">Количество</span></th>
                    <th st-sort="CostB1"><span uib-tooltip="Рыночная стоимость в Б1">Рыночная стоимость в Б1</span></th>
                    <th st-sort="CostB2"><span uib-tooltip="Рыночная стоимость в Б2">Рыночная стоимость в Б2</span></th>
                    <th st-sort="Revalue"><span uib-tooltip="Переоценка">Переоценка</span></th>
                    <th st-sort="Notes"><span uib-tooltip="Примечания">Примечания</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in activeBalance.Assets.MotorTransport.Rows" ng-right-click="clickRightTableRow(activeBalance.Assets.MotorTransport.Rows, row.Id)" menu-items="menuItems">
                    <td ng-model="row.Name" content-editable></td>
                    <td ng-model="row.ProdYear" content-editable></td>
                    <td ng-model="row.License" content-editable></td>
                    <td ng-model="row.Color" content-editable></td>
                    <td ng-model="row.Quantity" content-editable edit-callback="calculateBalance(activeBalance, activeCompany.Id)"></td>
                    <td ng-model="row.CostB1" content-editable edit-callback="calculateBalance(activeBalance, activeCompany.Id)"></td>
                    <td ng-model="row.CostB2" content-editable edit-callback="calculateBalance(activeBalance, activeCompany.Id)"></td>
                    <td>{{row.Revalue}}</td>
                    <td ng-model="row.Notes" content-editable></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!--<button class="btn btn-primary btn-xs header-button" ng-click="addNewRow(activeBalance.Assets.MotorTransport.OwnRows);"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <table st-table="activeBalance.Assets.MotorTransport.OwnRows" class="table table-bordered table-condensed ng-table">
            <thead>
                <tr><th colspan="9">Приобретенный автотранспорт</th></tr>
                <tr>
                    <th st-sort="Name"><span uib-tooltip="Марка, модель">Марка, модель</span></th>
                    <th st-sort="ProdYear"><span uib-tooltip="Год выпуска">Год выпуска</span></th>
                    <th st-sort="License"><span uib-tooltip="Гос. номер">Гос. номер</span></th>
                    <th st-sort="Color"><span uib-tooltip="Цвет">Цвет</span></th>
                    <th st-sort="Quantity"><span uib-tooltip="Количество">Количество</span></th>
                    <th st-sort="CostBuy"><span uib-tooltip="Стоимость приобретения">Стоимость приобретения</span></th>
                    <th st-sort="CostB2"><span uib-tooltip="Рыночная стоимость в Б2">Рыночная стоимость в Б2</span></th>
                    <th st-sort="CostDiff"><span uib-tooltip="Разница">Разница</span></th>
                    <th st-sort="Notes"><span uib-tooltip="Примечания">Примечания</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in activeBalance.Assets.MotorTransport.OwnRows" ng-right-click="clickRightTableRow(activeBalance.Assets.MotorTransport.OwnRows, row.Id)" menu-items="menuItems">
                    <td ng-model="row.Name" content-editable></td>
                    <td ng-model="row.ProdYear" content-editable></td>
                    <td ng-model="row.License" content-editable></td>
                    <td ng-model="row.Color" content-editable></td>
                    <td ng-model="row.Quantity" content-editable edit-callback="calculateBalance(activeBalance, activeCompany.Id)"></td>
                    <td ng-model="row.CostBuy" content-editable edit-callback="calculateBalance(activeBalance, activeCompany.Id)"></td>
                    <td ng-model="row.CostB2" content-editable edit-callback="calculateBalance(activeBalance, activeCompany.Id)"></td>
                    <td>{{row.CostDiff}}</td>
                    <td ng-model="row.Notes" content-editable></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>-->
    </div>
</div>