<div class="panel panel-primary">
    <div class="panel-heading">
        Недвижимость компании
        <div class="clearfix "></div>
    </div>

    <div class="panel-body">
        <button class="btn btn-primary btn-xs header-button" ng-click="addNewRow(activeBalance.Assets.RealEstate.Rows);"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <table st-table="activeBalance.Assets.RealEstate.Rows" class="table table-bordered table-condensed ng-table">
            <thead>
                <tr>
                    <th st-sort="Name"><span uib-tooltip="Наименование">Наименование</span></th>
                    <th st-sort="Address"><span uib-tooltip="Местонахождение">Местонахождение</span></th>
                    <th st-sort="Area"><span uib-tooltip="Общая площадь">Площадь</span></th>
                    <th st-sort="CostB1"><span uib-tooltip="Рыночная стоимость в Б1">Рыночная стоимость в Б1</span></th>
                    <th st-sort="CostB2"><span uib-tooltip="Рыночная стоимость в Б2">Рыночная стоимость в Б2</span></th>
                    <th st-sort="Revalue"><span uib-tooltip="Переоценка">Переоценка</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in activeBalance.Assets.RealEstate.Rows" ng-right-click="clickRightTableRow(activeBalance.Assets.RealEstate.Rows, row.Id)" menu-items="menuItems">
                    <td ng-model="row.Name" content-editable></td>
                    <td ng-model="row.Address" content-editable></td>
                    <td ng-model="row.Area" content-editable></td>
                    <td ng-model="row.CostB1" content-editable></td>
                    <td ng-model="row.CostB2" content-editable></td>
                    <td>{{row.Revalue}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>