<div>

    <div class="create-modal-header">
        <h3 class="modal-title">
            Место бизнеса
        </h3>

    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <form class="form-horizontal" name="businessPlaceForm" id="businessPlaceForm" role="form" data-toggle="validator">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Адрес<i class="red-star">*</i></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="г.Москва, ул.Коммунистическая, д.19, офис 1493" maxlength="270" data-error="Адрес должен быть заполнен" ng-model="mElement.Address" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Аренда</label>
                        <div class="col-sm-9">
                            <input type="checkbox" ng-model="mElement.IsRent">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Филиал/точка продаж/подразделение</i></label>
                        <div class="col-sm-9">
                            <input type="checkbox" ng-model="mElement.IsFilial">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Оценка<i class="red-star">*</i></label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" placeholder="Оценка от 1 до 5. 1 это минимум" maxlength="1" ng-model="mElement.Rate">

                        </div>
                    </div>
                    </br>
                    <div class="form-group">
                        <div class="form-group col-sm-11 text-right">
                            <!-- Indicates a successful or positive action -->
                            <button type="submit" class="btn btn-success" ng-click="vm.confirm()">Сохранить</button>
                            <button type="button" class="btn btn-danger" ng-click="vm.cancel();">Отмена</button>
                        </div>
                    </div>
                </form>
                <hr/>
                <div>
                    <p class="form-description-text">Поля обозначеннные знаком <i class="red-star">*</i> обязательны для заполнения</p>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $('#templateForm').validator({
        disable: false
    });
</script>