<div>

    <div class="create-modal-header">
        <h3 class="modal-title">
            Настройка Балансов
        </h3>

    </div>
    <div class="modal-body">
                <form class="form-horizontal" name="balanceForm" id="balanceForm" role="form" data-toggle="validator">

                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="previousEnabled"/>
                            Сохранились ли данные предыдущего финансового анализа
                        </label>
                    </div>
                    <div class="form-group" ng-show="previousEnabled">
                        <label>Дата предыдущего финансового анализа</label>
                        <input type="date" class="form-control"
                               ng-required="previousEnabled"
                               ng-model="mElement.PreviousFinAnalysisDate">
                    </div>
                    <div class="form-group">
                        <label>Дата текущего финансового анализа</label>
                        <input type="date" required class="form-control" ng-model="mElement.CurrentFinAnalysisDate">
                    </div>
                    
                    <div class="form-group">
                        <div class="form-group col-sm-11 text-right">
                            <!-- Indicates a successful or positive action -->
                            <button type="submit" class="btn btn-success" ng-click="vm.confirm()">Сохранить</button>
                            <button type="button" class="btn btn-danger" ng-click="vm.cancel();">Отмена</button>
                        </div>
                    </div>
                </form>
                <hr/>
                <div>
                    <p class="form-description-text">Поля обозначеннные знаком <i class="red-star">*</i> обязательны для заполнения</p>
                </div>
    </div>

</div>
<script>
    $('#balanceForm').validator({
        disable: false
    });
</script>