<div>

    <div class="create-modal-header">
        <h3 class="modal-title">
            Настройка Балансов
        </h3>

    </div>
    <div class="modal-body">
                <form class="form-horizontal" name="balanceForm" id="balanceForm" role="form" data-toggle="validator">

                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="previousEnabled"/>
                            Сохранились ли данные предыдущего финансового анализа
                        </label>
                    </div>
                    <div class="form-group" ng-show="previousEnabled && currentProject.ParentExists">
                        <label>
                            <input type="checkbox" ng-model="mElement.isImported" />
                            Импортировать данные предыдущего проекта
                        </label>
                    </div>
                    <div class="form-group" ng-show="mElement.isImported">
                        <label>Выберите проект</label>
                        <select class="form-control"
                                ng-options="item as item.Name+' - '+item.CreationDate for item in previousProjects track by item.Id"
                                ng-model="mElement.previousProject" ng-required="mElement.isImported"></select>
                    </div>
                    <div class="form-group" ng-show="mElement.isImported && mElement.previousProject">
                        <label>Выберите дату баланса</label>
                        <label ng-if="mElement.previousProject.FinDataBalance.PreviousFinAnalysisDate">
                            <input type="radio" ng-value="mElement.previousProject.FinDataBalance.PreviousFinAnalysisDate"
                                    ng-model="mElement.PreviousFinAnalysisDate" ng-required="mElement.isImported"/>
                            {{mElement.previousProject.FinDataBalance.PreviousFinAnalysisDate | date:'dd.MM.yyyy'}}
                        </label>
                        <label>
                            <input type="radio" ng-value="mElement.previousProject.FinDataBalance.CurrentFinAnalysisDate"
                                    ng-model="mElement.PreviousFinAnalysisDate" ng-required="mElement.isImported"/>
                            {{mElement.previousProject.FinDataBalance.CurrentFinAnalysisDate | date:'dd.MM.yyyy'}}
                        </label>
                    </div>
                    <div class="form-group" ng-show="previousEnabled && !mElement.isImported">
                        <label>Дата предыдущего финансового анализа</label>
                        <input type="date" class="form-control"
                               ng-required="previousEnabled"
                               ng-model="mElement.PreviousFinAnalysisDate">
                    </div>
                    <div class="form-group">
                        <label>Дата текущего финансового анализа</label>
                        <input type="date" required class="form-control" ng-model="mElement.CurrentFinAnalysisDate">
                    </div>
                    
                    <div class="form-group">
                        <div class="form-group col-sm-11 text-right">
                            <!-- Indicates a successful or positive action -->
                            <button type="submit" class="btn btn-success" ng-click="vm.confirm()">Сохранить</button>
                            <button type="button" class="btn btn-danger" ng-click="vm.cancel();">Отмена</button>
                        </div>
                    </div>
                </form>
                <hr/>
                <div>
                    <p class="form-description-text">Поля обозначеннные знаком <i class="red-star">*</i> обязательны для заполнения</p>
                </div>
    </div>

</div>
<script>
    $('#balanceForm').validator({
        disable: false
    });
</script>