.gg-editable-text {
  border: 1px solid transparent;
}
.gg-editable-text:hover {
  border: 1px solid #666;
}
.gg-editable-text.editing {
  border: 1px solid #999;
}
.gg-editable-text input {
  border: 1px solid #ccc;
}
.gg-editable-text .gg-editable-text input:focus {
  outline: 0;
}

.gg-editable-text input {
  background: transparent;
  color: inherit;
  font: inherit;
  border: inherit;
  width: 100%;
  padding: inherit;
  margin: 0;
  height:inherit;
  -webkit-font-smoothing: inherit;
  line-height:inherit;
  display:inline-block;
  text-decoration: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.gg-editable-text div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gg-editable-text + td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
    padding: 0;
}

.gg-editable-text span {
  text-decoration: inherit;
}
